[2020-04-08 11:31] hifiaz opened #9 "White space when setPotrait"
hello, great work i love this

but i have some problem, don't know it's bug or something wrong, so when set layout to potrait there have space with white color, in main i have set black, but just comeback to horizontal the no more white spare

<img width="715" alt="Screen Shot 2020-04-08 at 18 26 31" src="https://user-images.githubusercontent.com/20653803/78779389-14a48300-79c7-11ea-870b-2e5f2927f

[2020-04-08 13:44] renancaraujo opened #10 "Add to awesome flame"
You can add it here: https://github.com/flame-engine/awesome-flame

[2020-04-13 15:38] RafaelBarbosatec commented on #9
Thanks!
I will test this. But that looks like the buttons on the android system.
Or the game's widget is not covering the entire screen.

[2020-04-13 15:39] RafaelBarbosatec commented on #10
Yes! i will do! ^^

[2020-04-13 15:44] RafaelBarbosatec commented on #9
Sorry, you can't reproduce the problem. Try to update the package, if it doesn't work send the code here to look better.

[2020-04-14 01:40] hifiaz commented on #9
sorry still found that after update,

 thanks for your response

[code]

[full source code](https://github.com/hifiaz/pesawat-tempur)

[2020-04-16 01:58] RafaelBarbosatec commented on #9
![photo4954507898973694066](https://user-images.githubusercontent.com/10039275/79406145-a6366680-7f6c-11ea-8c2d-f7a0e3efba95.jpg)

I downloaded your project to test. cool.

I exec on my device. and apparently it’s normal.
I had to comment this line:

[code]

but I don't know if that influences in this problem.

[2020-04-16 02:10] RafaelBarbosatec commented on #9
I was able to identify a problem. I will upload a new version with this improvement

[2020-04-16 02:17] RafaelBarbosatec commented on #9
Done! improvement available in version 0.1.9.

[2020-04-16 02:17] #9 closed

[2020-04-18 16:10] RafaelBarbosatec commented on #10
https://github.com/flame-engine/awesome-flame/pull/21

[2020-04-18 16:10] #10 closed

[2020-05-09 08:50] wz19900616 opened #22 "Thanks ,bonfire is great"
like it very much

[2020-05-09 11:46] wz19900616 commented on #22
in demo ,Enemy didn't move to Player when it became unvisible, so how to make Enemy move to the Player when it is out of visible range?

[2020-05-09 14:06] RafaelBarbosatec commented on #22
well, I didn't think about that situation, the idea is to get closer to what to see. you could increase the enemy's range of vision, maybe that can help you

[2020-05-13 09:08] wz19900616 commented on #22
thanks , it didn't work for me. I will try to find more solutions by free time.

[2020-05-13 16:40] RafaelBarbosatec commented on #22
I'm sorry, now I understand your problem. This was fixed in version 0.3.3!

[2020-05-13 16:40] #22 closed

[2020-06-02 01:07] zhongzhuoan opened #29 "click joystick, return directional MOVE_RIGHT"
In darkness_dungeon, When I click in the joystick area, function joystickChangeDirectional always return JoystickMoveDirectional.MOVE_RIGHT, even if event.intensity is 0.
eg: The knight walked to the left and stopped, When I click in the joystick area immediately turned to the right.

[2020-06-02 01:53] RafaelBarbosatec commented on #29
Hi @zhongzhuoan !
Maybe I didn't get it right. But I tested it here and did not observe this behavior.

[2020-06-02 03:24] zhongzhuoan commented on #29
maybe
in bonfire/lib/joystick/joystick_directional.dart
void update(double t) {
...
      if (degrees > -22.5 && degrees <= 22.5) {
        _joystickListener.joystickChangeDirectional(JoystickDirectionalEvent(
          directional: JoystickMoveDirectional.MOVE_RIGHT,
          intensity: _intensity,
          radAngle: _radAngle,
        ));
      }
...
}

When i touch the joystick and don't move

[2020-06-02 20:33] RafaelBarbosatec commented on #29
I identified. This improvement will be available in the next release!

[2020-06-03 20:22] #29 closed

[2020-06-04 21:17] rezendegc opened #33 "Performance on Game Decoration"
There is a huge performance problem when you have a considerate amount of GameDecorations on the game... I am currently trying to identify why, but I wasn't able to find the source of problem so far... I tried disabling all collisions, renders, but nothing.... To test this just add around ~5k torches to the example game and the fps should drop to 20 or so...

[2020-06-04 21:43] rezendegc commented on #33
Well... i have found that making `save -> translate -> restore` with canvas on every render was the problem... will think about the best solution to this and update it (probably will send to Flame guys too, since they use this logic too)

[2020-06-04 23:15] #33 closed

[2020-06-19 09:17] PonthepYJ opened #40 "Flutter Web does not support the blend mode: BlendMode.clear"
I have got this error when trying to run on web.The first screen shown up but after click on Manual Map or Tiled Map then the error "Flutter Web does not support the blend mode: BlendMode.clear" display in flutter console. and following by non stop throwing "PersistedScene: is in an unexpected state." error message.

[2020-06-19 12:35] RafaelBarbosatec commented on #40
The Flame engine that is used in this package only works in release mode and with better performance with SKIA enabled. So I recommend you to run like this:
`flutter run -d chrome --release --dart-define = FLUTTER_WEB_USE_SKIA = true`

But yes, it is not entirely stable on the WEB. out of nowhere it crashes. We are looking at what may be causing this together with the Flame team. And if necessary

[2020-06-19 12:39] RafaelBarbosatec commented on #40
If you don't want to use BlendMode.clear. just do not activate the lighting system by not passing the parameter: `lightingColorGame`

[2020-06-19 13:36] PonthepYJ commented on #40
Thanks for your quick answer.I really appreciate what you have done on this project.

[2020-06-19 13:36] #40 closed

[2020-06-20 20:35] d-apps opened #41 "Allow to use Bonfire classes without need to wrap with BonfireWidget"
I'm building a game but is not an RPG and your widgets could be very helpful, could you please see if it's possible to allow to use your classes (Joystick, Interface, Lighting, Enemy and Camera) without need to wrap the app inside BonfireWidget, so I can just render as Components and custom their actions?

For example, If I try to render a Joystick I get **size = null**, since I didn't use Bonfire

[2020-06-22 14:34] RafaelBarbosatec commented on #41
Unfortunately it will not be possible to use this component outside the Bonfire framework, it depends on a proper implementation of BaseGame. But I'm working with the Flame team to add this feature to their package.

[2020-06-23 04:12] #41 closed

[2020-07-06 08:43] PonthepYJ commented on #40
After I try running in profile mode I found that the game will crash within 5 minutes with error " CanvasKit threw an exception while laying out the paragraph. The font was "Arial". Exception:".

I googled and found that canvaskit wasm has some bug about releasing memory when using paragraph from this link https://github.com/flutter/flutter/issues/56938

I try working around by comment code on all

[2020-07-09 04:35] simicn opened #50 "Support multiple tilesets in the same map?"
Bonfire is a great project, but it seems that bonfire doesn't  support multiple tilesets in the same map now.
I test with 0.6.15, and the map struct like this:

[code]

[2020-07-10 11:27] seancze commented on #50
Yup, having the same issue currently. Would be great if there was a fix for this!

[2020-07-16 18:25] RafaelBarbosatec commented on #50
Oops. I will be analyzing this problem. Thanks for opening this issue

[2020-07-16 19:02] RafaelBarbosatec commented on #50
Fix available in version 0.6.17.

[2020-07-17 03:40] #50 closed

[2020-07-31 06:52] PonthepYJ opened #53 "How to create background music or sound effect when attack by Bonfire?"
Is that bonfire have supported on playing sound effect audio or background music while playing game.Do I have to call from Flame or other library instead.

[2020-08-01 02:16] PonthepYJ commented on #53
I found that we can play bgm by flame
Flame.audio.loopLongAudio('bgm.mp3');

[2020-08-01 02:16] #53 closed

[2020-08-15 06:41] PonthepYJ opened #55 "GameDecoration frontFromPlayer=true does not render on top of Player Object"
I try to create a decoration object by bonfire: ^0.6.18, I set **frontFromPlayer:true** as expected it to be rendered on top of Player object but the decoration still render below Player Object.

Testing on Web and Android emulator, both are got the same result.

 Jerry(this.initPosition)
      : super.sprite(
            Sprite(
              "itens/jerry.png",
            ),
            width: 1

[2020-08-18 20:52] RafaelBarbosatec commented on #55
Hi @PonthepYJ ! I cannot reproduce this problem. In my tests it worked.

[2020-08-18 23:05] PonthepYJ commented on #55
I have done fresh download from github, and add only one line of code "frontFromPlayer:true" to the spikes.dart. The spike still display behind the player on both web and android emulator as you see from my captured screen below.I expected player to walk behind the decoration object.

![Screen Shot 2020-08-19 at 5 52 50 AM](https://user-images.githubusercontent.com/56213394/90573312-58629100-e1e0-

[2020-08-18 23:19] RafaelBarbosatec commented on #55
hmm. I'm going to do the same test you showed me and see if I can identify anything. Thank you.

[2020-08-19 00:13] RafaelBarbosatec commented on #55
I was able to identify the problem. It occurs on the map loaded by Tiled. I will be running fix.

Thank you very much for contacting us.

[2020-08-19 00:29] RafaelBarbosatec commented on #55
Please check in version 0.6.19.

[2020-08-19 01:43] PonthepYJ commented on #55
Thanks for your sincerely support.

[2020-08-19 01:43] #55 closed

[2020-09-03 04:25] jingweno opened #61 "Flutter Web does not support the blend mode: BlendMode.clear"
Running example with Flutter web got the following error:

[code]

Looks like it comes from https://github.com/RafaelBarbosatec/bonfire/blob/master/lib/lighting/lighting_component.dart#L18.

[2020-09-03 15:48] RafaelBarbosatec commented on #61
Hi @jingweno !
To use in web run this command `flutter run -d chrome --release --dart-define=FLUTTER_WEB_USE_SKIA=true`

[2020-09-07 23:31] #61 closed

[2020-09-09 23:46] FahimF opened #64 "Tap movement instead of joystick?"
Would it be possible to add tap handling to move the player (or to carry game actions) instead of the virtual joystick? This would help for games such as adventure games where the user might want to simply tap on various locations on screen instead of guiding the player via joystick.

[2020-09-10 01:35] RafaelBarbosatec commented on #64
Good idea. I hadn't thought of that scenario. Currently it would be possible using Mixins TapGesture or PointerDetector.
 But it would have to remove the obligation of the Joystick.
I will be thinking of mechanisms for this scenario. If you want to contribute with PR you will also be welcome.😊

[2020-09-10 01:45] FahimF commented on #64
@RafaelBarbosatec Thanks :) I had actually been planning to do exactly what you suggested - use the Tap Gesture detector - but then realized that there was a hard requirement of the joystick being present ... But will look at it tomorrow and see if I can perhaps get this in as a PR without making too many breaking changes 😄

[2020-09-10 15:21] FahimF commented on #64
@RafaelBarbosatec I have some basic changes in place which make the Joystick optional - it is on by default but if it's not present, then related functionality is not activated. I have also updated the example project to have two options per map type - one with Joystick one without.

However, the maps without Joysticks currently do not have any control mechanism at all 😄 I have to fix that - or at

[2020-09-10 16:24] RafaelBarbosatec commented on #64
Beautiful @FahimF !
 looks very good to me. I am waiting for the PR.

[2020-09-10 16:28] FahimF commented on #64
@RafaelBarbosatec If you prefer that I send you a PR for what I have up to now, I can do that. But if you'd rather that there be some provision for the tap handling as well, I can wait on the PR till I get that part done too ...

Currently changing the `TapGesture` mixin to allow it to be added to `RPGGame` - not sure if that change will affect anything else and so wanted to make the changes, test

[2020-09-10 16:50] RafaelBarbosatec commented on #64
'TapGesture' is specific to 'GameComponent' so it will not work in 'RPGGame'.
'RPGGame' already listen gestures with 'PointerDetector'. The Ideal would be to implement this using these events.
Perhaps creating a specific mixin to listen to tap in the world. And then we make the player's movement system up to that point.

[2020-09-10 19:07] FahimF commented on #64
I did notice that `TapGesture` had a check for `GameComponent` and was in the process of adding another check for `RPGGame`. But I probably didn't understand all the internal connections totally 😁

So will go ahead and look at implementing it via `PointerDetector` as you suggested.

[2020-09-10 21:13] FahimF commented on #64
@RafaelBarbosatec OK, that took a bit of work due to the approach I took 😄 Basically, I opted to change all the gesture actions to return true/false based on whether the gesture handlers actually handled the gesture or not. Then, at the `RPGGame` level, I check if the gesture was handled (meaning that there was a component at the tap/gesture point that took some action) or not and if the gesture w

[2020-09-18 13:15] RafaelBarbosatec commented on #64
Hi! Sorry for the delay in responding. I found your approach very cool! I don't think I would have a problem implementing it that way. Yes, you can continue.

[2020-10-13 15:14] diybl opened #75 "is there network interface?"
like mmo online games interface

[2020-10-14 22:54] KyleKun commented on #75
Hey @diybl

There's no in-built support for it, but you can make it with socket.io, see this example of a multiplayer game built by Rafael with bonfire using socket.io: [Mountain Fight](https://github.com/RafaelBarbosatec/mountain_fight)

[2020-10-14 22:55] KyleKun commented on #64
Hey @FahimF

Are you still working on it? I would also like to see the results 😄

[2020-10-14 23:00] FahimF commented on #64
@RafaelBarbosatec @KyleKun The initial work is in my fork - that completed the approach that I was talking about except for implementing some sort of default tap handling. That part is not there since I got distracted with several different things. But what is there (if merged in) should allow turning off the joystick handling and if you want tap handling after that, you'd just need to implement i

[2020-10-14 23:05] KyleKun commented on #64
Got it, I might not be able to work on this feature to handle default tap as well for now but thanks for the clarification!

[2020-10-18 09:53] diybl opened #76 "the tiled not support image layer?"

[2020-10-18 09:54] diybl commented on #76
Future<void> _load(TiledMap tiledMap) async {
    await Future.forEach(tiledMap.layers, (layer) async {
      if (layer is TileLayer) {
        await _addTileLayer(layer);
      }
      if (layer is ObjectGroup) {
        _addObjects(layer);
        _countObjects++;
      }
    });
  }

i found that there is no imagelayer type

[2020-10-26 13:29] bonfire-engine commented on #76
Hi @diybl !
Thank you for the contact. It doesn't really support imagelayer yet.
I will be studying the possibility of adding.
If you are looking to add a backgound to the game you can use the BonfireTiledWidget parameter `background`

[2020-11-06 17:21] RafaelBarbosatec commented on #64
@FahimF I started a basic system of movement by click and it is in `develop` branch. So far I am not executing an algorithm to trace a course deviating from obstacles. If you want to continue, feel free.
I created a JoystickController called `TouchToPosition`.
And in the player the movement is in SimplePlayer on line 302.

[2020-11-06 17:26] #75 closed

[2020-11-11 09:30] ahde46 opened #78 "Entering a new scene"
Hi, thank you so much for creating this awesome works. I am trying to play around with the darkness_dungeon and the performance is so great. But how do we achieve to jump to another map eg: entering a room/ different level with different scene?

[2020-11-14 07:32] ahde46 commented on #78
Found the solution in the example repo.
https://github.com/RafaelBarbosatec/multi-biome

[2020-11-14 07:32] #78 closed

[2020-11-18 05:00] Manguelo opened #79 "Tapping anywhere on the screen triggers spriteSelected"
Not sure if this is intended functionality, but when I tap anywhere on the screen my interface components are set to their `spriteSelected` sprite.

**Here is my game interface class:**

[code]

I was able to resolve this issue by extending the `InterfaceComponent` class and modifying the following method:
[code]
to
[code]

Here's a video of the issue I'm having:
![ezgif com-video-to-gif](https://

[2020-11-18 15:15] RafaelBarbosatec commented on #79
Thank you very much for reporting this issue! I'll be uploading a version with this fix!

[2020-11-18 16:03] Manguelo commented on #79
That's great, thanks!

[2020-11-20 12:00] RafaelBarbosatec commented on #79
Fix available in version 0.8.0! Thanks!

[2020-11-20 12:00] #79 closed

[2021-03-02 13:26] kuyum opened #86 "Does it support isometric tilemap?"
Thanks for the great work. I am trying dev an isometric game. Does it support isometric tilemap?

[2021-03-07 02:52] RafaelBarbosatec commented on #86
Hi @kuyum! Thank's for contact !
We do not have support for an isometric tilemap yet.
It would be a very interesting feature. Even the new versions of Tiled have a very nice support for isometric maps.
If you want to help us implement this it would be very interesting.

[2021-03-07 09:33] kuyum opened #87 "Add polygon collision detection"
First, sorry for my poor English.
How about add polygon collision detection?
Polygon collision detection is useful in many cases, although it is more complicated than the Rectangle collision detection.
To reduce the computing, each polygon stores its outsideBox rectangle((minX, minY),(maxX, maxY)).
Detect the outsideBox first, if there is no collision, return false. If there is a collision, contin

[2021-03-12 14:44] kuyum opened #88 "Didn’t support tileset of the type of ‘Collection Of Images’"
I create a map that using a tileset of the type of ‘Collection Of Images’, and I found that this kind of tileset isn’t support. For now it only support tileset of the type ‘Based on Tileset Image’, so I
tried merge the collection of images into one image, but I found that the size of the image is much bigger than
the total size of the collection of images. So tileset of the type ‘Collection Of Ima

[2021-03-13 14:25] NemesisX1 opened #89 "Build tiled map"
I want to know which editor you've used to build the JSON tiled map representation

[2021-03-17 19:13] RafaelBarbosatec commented on #89
We use [Tiled](https://www.mapeditor.org/).
More information and versions supporters you find [here](https://bonfire-engine.github.io/#/tiled_support)

[2021-03-17 19:13] #89 closed

[2021-03-17 19:30] RafaelBarbosatec commented on #88
Bonfire currently only supports maps generated by version 1.3.5 of the Tiled.
You can download this version [here](https://github.com/mapeditor/tiled/releases/tag/v1.3.5)

[2021-03-18 14:06] kuyum commented on #88
I knew that. But Tiled 1.3.5 has an issue of huge memory increasing as time lapsing(Mac OS). So my habit is to create a map with 1.4.5 first, and then change the version field in the map file. It works most of the time. I created this example for this issue, and I forgot changing the version. Sorry about that.

[2021-03-18 15:46] RafaelBarbosatec commented on #88
As of version 1.4.0, there was a big break change. I haven't had time to add this support yet. but this is on the radar.
If you have time and want to contribute with this support it would be nice! ;-)

I made a video creating a map for Bonfire. Maybe that will help too:
https://www.youtube.com/watch?v=hVCmLqZ0JVw

[2021-03-23 15:12] kuyum commented on #88
Thanks for your reply. This is great. I am a newbie to dart and flutter, hope to help someday.

[2021-03-31 20:24] marvelaman opened #97 "New tile 1.5 version update. FPS issue"
1. It throws an exception when I added new map.json via new version of Tile1.5. I just manually changed Tile version in json to 1.3.5 and it worked.
2. I created a bigger map which causes to low fps. I guess it renders all map. I suggest to add logic which renders only visible objects in viewport. Is it implemented in dynamic rendering branch? I haven’t looked code of that branch yet

[2021-04-14 14:23] RafaelBarbosatec commented on #97
If is possible update the Bonfire version to 1.0.0-rc2. this was corrected there

[2021-04-14 14:26] RafaelBarbosatec commented on #87
Hi @kuyum !
Thanks for contact!
I thought your suggestion was really cool. I will be evaluating this implementation. If you can try to contribute and submit a pull request to the 1.0.0-rc branch. Would be great

[2021-04-14 14:45] erickzanardo commented on #87
@RafaelBarbosatec Flame now has a built in collision detection engine, including polygon or any custom shapes. Should be quite easy to integrate it with bonfire.

[2021-04-14 14:51] RafaelBarbosatec commented on #87
Well remembered @erickzanardo .
I'm talking to sydon to help me with this

[2021-04-14 17:11] #88 closed

[2021-04-23 12:57] RafaelBarbosatec commented on #87
available in 1.0.0-rc4 version

[2021-04-23 12:57] #87 closed

[2021-04-29 15:44] #97 closed

[2021-05-03 14:21] zhaoqp2010 opened #100 "运行demo到Chrome 上运行会出现这个提示，请教解决办法谢谢"
Launching lib\main.dart on Chrome in debug mode...
Waiting for connection from debug service on Chrome...
Finished with error: Failed to launch browser. Make sure you are using an up-to-date Chrome or Edge. Otherwise, consider using -d web-server instead and filing an issue at https://github.com/flutter/flutter/issues.

[2021-05-04 12:36] zhaoqp2010 opened #101 "SpriteAnimation support Plist"
SpriteAnimation support Plist  thanks

[2021-05-04 15:00] erickzanardo commented on #101
@RafaelBarbosatec I think this issue is related to this discussion: https://github.com/flame-engine/flame/issues/781

[2021-05-04 15:05] RafaelBarbosatec commented on #100
Hi @zhaoqp2010 !
Could you tell me which version of Flutter you are using?

[2021-05-06 14:10] RafaelBarbosatec commented on #101
Closing this due to the discussion on the Flame issue

[2021-05-06 14:10] #101 closed

[2021-05-06 20:19] shinaka opened #102 "Desktop Support"
It looks like Bonfire doesn't support desktop platforms currently (at least Windows?)
I managed to get darkness dungeon to build, but it spams renderbox size errors. Was just wondering if this is a known issue before I start digging in further?

[2021-05-07 08:04] ym6745476 opened #103 "I want to achieve X-direction flip animation"
I want to achieve X-direction flip animation, this writing seems not to work, thank you for your guidance
`
void render(Canvas canvas) {

    if (position == null) return;

    //renderFlipX
    if (renderFlipX) {
      print("renderFlipX:" + position!.width.toString() + "," + position!.height.toString());
      canvas.translate(position!.width / 2, position!.height / 2);
      canvas.scale(-1.0,1

[2021-05-07 08:07] zhaoqp2010 commented on #100
I'm not using the stable version. I've changed it back to flutter 2.0.6  thanks  The problem has been solved

[2021-05-10 15:20] RafaelBarbosatec commented on #103
Hi @zhaoqp2010 !
This is some kind of effect that you are trying to have on your game. Or are you trying not to use a SpriteAnimation for each direction?

[2021-05-10 15:37] RafaelBarbosatec commented on #102
Hi @shinaka !
Bonfire has desktop support using an RC version.
The dark dungeon project has not yet had time to upgrade to the latest version of Bonfire.
Try test with example of the package.

[2021-05-12 16:13] #102 closed

[2021-05-14 19:34] RafaelBarbosatec commented on #64
Available in 1.0.0 version

[2021-05-14 19:34] #64 closed

[2021-05-22 17:56] tsehonkit opened #109 "flame-1.0.0-releasecandidate.11 update textconfig.dart to text.dart"
Hi,

Bonfire is amazing. I am studying how to use it. As flame update to releasecandidate 11, the textconfig.dart and the corresponding class elements are modified and becomes text.dart. No more TextConfig exists.
It broke into TextRenderer, TextPaintConfig, BaseTextConfig, TextPaint etc.

[2021-05-23 01:23] AlexV525 commented on #109
Downgrade `flame` to `1.0.0-rc9` seems to be a temporary workaround.

[2021-05-23 06:29] RafaelBarbosatec commented on #109
Downgrade in version 1.0.2.

[2021-05-23 06:29] #109 closed

[2021-05-30 08:20] kuyum opened #112 "The size of the tile of the tileset may be bigger than the size of the tile of the map."
The size of the tile of the tileset may be bigger than the size of the tile of the map, such as tall trees or big houses. That is, a big image over rendering on a small tile, covering its neighbors rather than shrinking it. For now it have to be divided into multi tiles, and it is inconvenient to draw collision area.

[2021-05-30 08:39] kuyum opened #113 "After I upgrade to bonfire version 1.0.3, it cant play upRight animation."
After I upgrade to bonfire version 1.0.3, it cant play upRight animation.
When I drag the joystick_nob to upRight direction,
it call three move methods one by one, first moveUpRight, then moveRight, finally moveUp.
And finally it play the up animation.
In other words, the upRight animation has not been played, but the up animation is playing.

[2021-05-31 22:11] KyleKun commented on #112
Hey @kuyum ,
Could you attach some screenshots as examples?

[2021-06-01 13:32] RafaelBarbosatec commented on #113
Hi @kuyum. Thanks for issue!
I'm analyzing

[2021-06-01 14:16] kuyum commented on #112
yep
**First use case**
[TestMapScreenShot](https://github.com/kuyum/pubImages/blob/main/map_screen_shot_001.png)
The tile size of the map is 64x64. The first layer is using a earth tileset which tile size is 64x64. Their tile size is equal to each other.
The second layer is using a houses tileset which tile size is 256x203, its tile size is more bigger than the tile size of the map. It will cover

[2021-06-01 14:26] #103 closed

[2021-06-01 14:40] RafaelBarbosatec commented on #113
Fix in 1.1.1 version

[2021-06-01 14:40] #113 closed

[2021-06-01 14:50] kuyum commented on #113
It works now, thank you!

[2021-06-06 21:45] KyleKun opened #115 "JoystickMoveToPosition not working as expected"
Hello,

I'm trying to use JoystickMoveToPosition on my map built with tiled where my objects have polygon collision, but the a_star algorithm seems to not detect them, resulting in locking the player as shown in the video:

https://user-images.githubusercontent.com/36611739/120941106-42827600-c6f7-11eb-8049-e488e7fcb6cf.mp4

[2021-06-08 23:39] RafaelBarbosatec commented on #115
Hi @KyleKun !
Those elements that contain collision were added as Decoration or by Tiled

[2021-06-08 23:41] KyleKun commented on #115
By Tiled only

[2021-06-08 23:43] RafaelBarbosatec commented on #115
humm. Ok
I will try to reproduce here. can you send a print with the showCollisionArea property equal to true?

[2021-06-08 23:51] KyleKun commented on #115
![20210608_205001.jpg](https://user-images.githubusercontent.com/36611739/121271934-20c1f400-c89b-11eb-86b7-7d0cb409d29f.jpg)

It's very difficult to see because of the color but the collision is there, player collides with normal joystick

[2021-06-08 23:57] KyleKun commented on #115
I've tested a little bit more and it seems that collisions are overlapping and this is the cause of "locking" the player, player's collision enters the object's collision

[2021-06-09 02:25] RafaelBarbosatec commented on #115
Understand. I will try to simulate a scenario similar to yours. Because it wasn't to trace a route that passes through the objectives that have collision.
In the example of the package it works perfectly.
I'll investigate further.

[2021-06-09 16:59] RafaelBarbosatec commented on #115
Could you send me a print with constructionMode: true ?
Just to get a sense of the tileSize of the map.
Because if there is something collision on the tile. it already discards that option as a path.
I've already noticed an adjustment that needs to be done.

[2021-06-09 19:18] KyleKun commented on #115
Sure, tileSize is 16x16 and "double tileSize" is 20.0 on main.dart

Map is small: ![Screenshot_20210609-161805_Gallery.png](https://user-images.githubusercontent.com/36611739/121415602-4d7b1780-c93e-11eb-8242-49710162e0d5.png)

[2021-06-09 19:39] RafaelBarbosatec commented on #115
I've already identified the problem. I'm thinking here of a way to solve this. Hahaha
I set up a matrix to send the algorithm to calculate the path. But in this matrix I'm noticing that a very large collision object occupies more than one cell in the matrix and I wasn't considering that.

[2021-06-11 17:26] RafaelBarbosatec commented on #112
I guess It’s not problem about Bonfire. Please look for some way to help you with doubts about map maintenance with Tiled.

[2021-06-11 17:26] #112 closed

[2021-06-11 17:41] RafaelBarbosatec commented on #115
Hi @KyleKun
I guess what resolve this problem.
Fiz available in 1.1.2 version.
I also updated the documentation with more information about this functionality.
https://bonfire-engine.github.io/#/path_finding

I hope it’s works good 😊

[2021-06-11 17:55] KyleKun commented on #115
Will test it asap, thanks very much!

[2021-06-12 16:11] KyleKun commented on #115
The scenario with the table and chairs is fixed, but it still happens in some places:
https://user-images.githubusercontent.com/36611739/121782389-a5549100-cb7f-11eb-8c09-d22e950f1a58.mp4

https://user-images.githubusercontent.com/36611739/121782398-aab1db80-cb7f-11eb-8662-f10310f0c0eb.mp4

[2021-06-14 04:10] RafaelBarbosatec commented on #115
Try uses 1.1.3 version.

[2021-06-14 23:02] KyleKun commented on #115
Hi @RafaelBarbosatec ,
It still happens in some places, and now the player movement is a little "shaky", check the video:

https://user-images.githubusercontent.com/36611739/121969779-607d5580-cd4b-11eb-896f-de2b60427a0c.mp4

[2021-06-15 00:09] RafaelBarbosatec commented on #115
Good suggestions. I will work on it.
In this specific case it is because it currently checks for visible collisions on the screen. and on this particular route, he had to turn around and pass a chair that wasn't on the screen.
I can fix it too. increasing the size of the space for route analysis.

[2021-06-15 00:18] RafaelBarbosatec commented on #115
You can check theses spaces that is considered collision adding:
[code]
in the player constructor.

[2021-06-15 22:16] hanskokx opened #120 "Type mismatch in tile_set.dart"
`tile_set.dart` line 55 `version = json['version'];` throws an exception with `json` exported from Tiled 1.6.  In the exported file, the version is quoted, and therefore a string.

[2021-06-17 13:28] KyleKun commented on #120
Hey @hanskokx ,

If I am not mistaken, Bonfire supports Tiled version 1.3.5, try using this one, I've had no issues exporting maps in this version.

[2021-06-17 19:42] hanskokx commented on #120
Well, that seems silly.  The problem could be easily solved by changing
`version = json['version'];` to `version = json['version'] is double ? json['version'] : double.parse(json['version']);`

[2021-06-17 21:27] RafaelBarbosatec commented on #120
Try use 1.1.5 version.

[2021-06-17 21:36] hanskokx commented on #120
Simply removing the quotes makes the file compatible, as far as I can tell.

[2021-06-18 17:48] #120 closed

[2021-06-18 17:51] RafaelBarbosatec commented on #115
Hi @KyleKun !
Retest with the latest version please

[2021-06-21 20:12] KyleKun commented on #115
It works like a charm!
I'll be closing this issue, thank you once again xD

[2021-06-21 20:12] #115 closed

[2021-07-12 09:58] ahde46 opened #127 "Compile error after using bonfire into a newly created project."
Hi,

Hope you are doing well and thank you for creating this awesome plugin.

I am able to compile and run the example project in this repo. And I can add bonfire into my pubspec.yaml. However, I can't compile the app after I trying to use the package in a dart file in a new project.

Please help me, and let me know if you need more information for the issue.

Thanks!

My Flutter version:
<img wid

[2021-07-13 17:05] RafaelBarbosatec commented on #127
Hi @ahde46 !
You did adds `flame` in you pubspec.yaml?
To use Bonfire not need import `flame` in your pubspec.yaml.
Bonfire is not compatible with version `releasecandidate.13` of `flame`.

[2021-07-13 23:50] KyleKun commented on #127
Hi!

I'm getting the same error after updating bonfire to 1.3.0.
I don't have `flame` on pubspec.yaml.

[2021-07-14 02:57] RafaelBarbosatec commented on #127
Hi @KyleKun .
For now use the 0.1.0-rc5 version of flame_audio. This one works really well.
This new version of Flame had some changes that won't be so trivial to make.

[2021-07-14 08:16] ahde46 commented on #127
Hi @RafaelBarbosatec ,

Thanks for pointing out the issue!

I don't have flame in my pubspec.yaml. However, I checked my pubspec.lock, bonfire: ^1.3.0 will pull the releasecandidate.13 of flame for my cases.

I am able to solve this issue by importing the version releasecandidate.12 of flame into my pubspec.yaml.

I will close this issue for now, thanks again!

[2021-07-14 08:16] #127 closed

[2021-07-14 19:57] KyleKun opened #129 "Can't show a dialog on TalkDialog finish method"
Hey!

I'm trying to show a dialog on the finish method of TalkDialog after making contact with an object, but this causes the last Say to keep on screen forever and the dialog is not shown.

[code]
There are no errors on the console.

I can get it to work if I set a variable in this finish method from the Player class, which is listened on update(), but I don't know if this is the best approach si

[2021-07-15 14:09] RafaelBarbosatec commented on #129
Hi @KyleKun !
Try adds a little time before show next Dialog like:
[code]

[2021-07-15 14:29] KyleKun commented on #129
Works like a charm!
Thanks once again 😄

[2021-07-15 14:29] #129 closed

[2021-07-21 15:28] akashsharma95 opened #133 "Unneccessary logs if index passed to _getDataTile is more than 1025"
version: `1.3.4`

This causes huge number of logs while loading tilemap.

https://github.com/RafaelBarbosatec/bonfire/blob/master/lib/tiled/tiled_world_map.dart#L281

[2021-07-21 16:30] RafaelBarbosatec commented on #133
Thanks for open this issue. Fixed in 1.3.5 version.

[2021-07-21 16:30] #133 closed

[2021-08-04 13:30] KyleKun opened #146 "[Proposal] Make Bonfire Website Open-Source to Allow Contributions"
Hi!

I would like to help fixing typos and improving the docs at: https://bonfire-engine.github.io/
If it is possible, just let me know!

[2021-08-04 15:21] RafaelBarbosatec commented on #146
Sure!
Its is amazing!
Here you go: https://github.com/bonfire-engine/bonfire-engine.github.io

[2021-08-04 15:43] KyleKun commented on #146
Thanks! Closing this issue 😁

[2021-08-04 15:43] #146 closed

[2021-08-10 01:28] KyleKun opened #150 "Tiled Map sometimes does not render some tiles"
Hi @RafaelBarbosatec !

I'm testing some things and found this problem (reproduced on Web & Windows in debug and release modes, the issue still happens, did not test on Android but it is very likely that it happens as well), I'm using the latest version and this doesn't show any error logs:

https://user-images.githubusercontent.com/36611739/128794215-da189919-c0f6-4d79-8a81-60b95c297f94.mp4

OBS:

[2021-08-10 01:54] RafaelBarbosatec commented on #150
After refactoring to dynamically create Tiles. I've been watching these lag. I'm trying to work this out.

[2021-08-10 12:14] RafaelBarbosatec commented on #150
Hi @KyleKun !
Try use the version 1.4.8

[2021-08-10 12:27] KyleKun commented on #150
Hi @RafaelBarbosatec ,
Tested and it is working! Thank you!

[2021-08-10 12:27] #150 closed

[2021-09-18 13:39] Elynad opened #175 "Cannot compile with bonfire, seems linked to flame 1.0.0"
Greetings,

I cannot compile your awesome api :/

Here is my output when I build :

[code]

Here is my `pubspec.yaml` file dependencies :

[code]

I checked the "missing keyboard.dart file", and I dont have it :

[code]

[2021-09-26 13:56] KyleKun commented on #175
Hi @Elynad
It seems that your flame dependency is pulling the last version which is not compatible with bonfire yet (.14)
Try changing it in your pubspec yaml and lock files to .13 and it should work

[2021-09-27 12:14] RafaelBarbosatec commented on #175
In 1.6.1 version the Bonfire i fixed Flame version to .13 while we not fixe crash caused for new version of the Flame

[2021-10-02 16:55] #175 closed

[2021-10-08 03:02] SecareLupus opened #182 "TiledWorldMap doesn't render transformed tiles"
### Bonfire silently fails to render any TiledWorldMap tiles which have been rotated or reflected.

You can see in the two screenshots below comparing Tiled's preview, and Bonfire's rendering. There is an inside corner of the top-left room missing. These tiles were rotated, as the tileset only included 2 inner corners. Additionally, the center-top hallway connecting the top-left and top-right room

[2021-10-26 03:01] zhangyc opened #188 "help"
Excuse me, what tool was used to make the map file in the sample? Is there a specific version number?

[2021-10-26 06:48] #188 closed, assigned to nobody

[2021-10-30 10:53] tomwyr opened #190 "Errors in documentation"
Dead links:
 - https://github.com/RafaelBarbosatec/bonfire/blob/master/example/lib/enemy/goblin.dart
 - https://bonfire-engine.github.io/#/Objects

Missing translation:
 - https://bonfire-engine.github.io/#/objects?id=flyingattackobject

Typo (_by defauld_):
- https://bonfire-engine.github.io/#/path_finding

[2021-11-14 18:02] KyleKun opened #200 "TiledMap rendering wrong tiles"
Regarding the issue discussed on discord, I made a reproducible example: https://github.com/KyleKun/bonfire_1_99_tiled_bug

Tiled map properties: 32 columns x 18 rows and tile size is 60x60 px

Actual:
![issue](https://user-images.githubusercontent.com/36611739/141692739-8cd99052-8d01-4296-9333-d5d93468e608.PNG)

Expected:
![bonfire-bug](https://user-images.githubusercontent.com/36611739/141692686

[2021-11-15 17:46] 4mitabh opened #201 "NPC"
Thank you! Bonfire is a great help for anyone writing RPGs.

I see that you have players and enemies as part of the engine. Is there a plan to add NPCs a well?
NPCs are central to interaction in RPG style games.

If now what is the recommended way of modelling NPCs.

[2021-11-15 17:56] 4mitabh commented on #201
I see that https://github.com/RafaelBarbosatec/darkness_dungeon/tree/master/lib/npc has NPCs extended from GameDecoration. This works... but maybe it's a good idea to add the base class for NPCs in bonfire itself.

[2021-11-15 22:27] RafaelBarbosatec commented on #201
Yeah, you can use GameDecoration or Enemy without movements. 😊
And use "seePlayer" or "seeCompoment" to interact with other components.
I don't know if I would need to create something specific for NPC. But I will be analyzing.

[2021-11-16 05:49] 4mitabh commented on #201
I was thinking, NPCs should be the base class for Enemy. The NPC class can have all the functionality related to 'seeing', 'saying' and 'moving'. The Enemy class can extend it with attacks, health etc.

[2021-11-17 03:32] RafaelBarbosatec commented on #200
Thanks for this report!
Fixed in version 1.9.10!

[2021-11-17 03:32] #200 closed

[2021-11-17 21:53] fstof opened #203 "Direction animations fail on Flutter Web build"
When building for release and publishing on web, I'm getting console error
[code]
and the enemy is not loading

PR Incoming...

[2021-11-22 14:59] RafaelBarbosatec commented on #190
Thanks for notifications!
All these points have been resolved!

[2021-11-22 14:59] #190 closed

[2021-11-24 14:31] RafaelBarbosatec commented on #182
Hi @SecareLupus !
Try use version 1.11.1

[2021-11-30 21:26] #182 closed

[2021-12-01 21:32] RafaelBarbosatec commented on #76
Available in version 1.12.0

[2021-12-01 21:32] #76 closed

[2021-12-04 10:30] tchex opened #210 "Tiled: using polygon from object layer to create transparent collision object"
Hello and thank you for your great work. It is really nice and powerful to work with bonfire.
Is it possible to create a polygon in Tiled (object layer) and to define it as a collision object with bonfire ?
For example, on a beach, create a polygone around the sea, to force player to stay on the beach.
Thanks !

[2021-12-06 12:28] RafaelBarbosatec commented on #210
Hi @tchex !
Thanks so much!
Create an object with collision in Tiled is not possible in the moment. You can add collision by Tiled in your tiles in your tileset. Currently, when I want to make a collision of this type, I place a collision on a transparent tile and add it to the options where I want it to have a collision.

[2021-12-06 14:09] tchex commented on #210
Hi @RafaelBarbosatec,
Thank you, I will use the transparent tiles.
I look forward to see your implementation as it will allow to create barriers, paths.. very easily and activate / unactivate these objects programatically. (forbidden area until quest finished..)

[2021-12-09 08:18] 4mitabh commented on #201
[code]

If you agree with the idea, I can submit a PR after refactoring the Enemy class into a NPC base class, and a derived Enemy class. Users of the package can implement their NeutralNPCs and AllyNPCs derived from the NPC class.

ps: I'm excited to see Bonfire mentioned in the official Google blog while talking about Flame 1.0 release.
Good to see your awesome work get recognised.

[2021-12-13 14:15] RafaelBarbosatec commented on #210
Hi @tchex !
This features is available in version `1.12.2`.
Only set in type object to `collision` in your ObjectLayer of the Tiled.
The Bonfire will add a `CollisionGameComponent`.

[2021-12-14 07:50] tchex commented on #210
Hi @RafaelBarbosatec!
That's great! Not tested yet, but thanks for your work. I guess Bonfire will have more and more success as Flame is now part of flutter official.

[2021-12-16 21:24] tchex commented on #210
Hi @RafaelBarbosatec,
Thanks again: I tried and it works!
But not perfectly. Object is not placed at the right place. And sometimes disappears.. It seems to happen when a corner of the shape is out of the screen but not the object. (my object is way larger than the screen). I will try to do more tests to give you some better feedback.

[2021-12-16 21:46] RafaelBarbosatec commented on #210
Right, I'll test more this case to find this problem.
Thanks for reporting. 😊

[2021-12-17 13:12] RafaelBarbosatec commented on #210
Hi @tchex !
I think what i found this problem. Please could test again with `1.12.3` version.

[2021-12-19 19:38] tchex commented on #210
Hi @RafaelBarbosatec !
Yes, no problem anymore. Thanks a lot !

[2021-12-20 14:25] #210 closed

[2021-12-20 16:43] RafaelBarbosatec commented on #201
So I still don't think I would need to create an element called NPC. Because if we start going down that path, everything that's kind of elements in an RPG game, we're going to have to create a type, but that's not the idea. The idea is to have a few core elements and everything else to be created from them.

[2022-01-06 06:41] 4mitabh commented on #201
That design principle makes a lot of sense.

I'm still struggling with what to do with NPCs... Deriving it from wall decorations does not seen right, plus wall decorations do not move. Extending enemies instead is a better idea, but does not seem like a clean approach either.

I see that you're working on other areas of the engine right now, do review the NPC design when you a chance.

[2022-01-24 21:04] Sproute777 opened #218 "State managers"
Hello . Is it possible to add a state manager like flame_bloc , or your cubes with similar capabilities ?

 How to add more complex dependencies to the game?

 Or how to use your listeners?

[2022-02-01 01:59] abgutierrez commented on #218
I think there's no way to use it as it is because BaseGame needs to extend FlameBlocGame and not FlameGame. Also, It's not easy but you can try to reimplement BaseGame class. I tried weeks ago, but later I decided to start using FlameBlocGame directly.
I'll try to do it again if no one starts implementing it, because now I want to use some bonfire features and manage the game state with BloC.

[2022-02-01 21:27] Sproute777 commented on #218
I added FlameBloc in pure Flame .  Game work correctly .
But Bonfire interfaces hide Flame , and not allow connect FlameBloc.

Game with a lot interfaces not good practice, too hard add new features , because need refactor too much .

[2022-02-04 19:28] RafaelBarbosatec commented on #201
I got it.
But is not necessary extending from "Enemy" to give movements to component, you can use a simple GameComponent and adds "Movement" mixin. If you can recieve damage you can use "Attackable" mixin and so on. We try delivery the more modular possible using [mixins](https://bonfire-engine.github.io/#/mixins). This way you can build a component according to your need.

But it’s a good point.

[2022-02-12 15:36] abgutierrez opened #223 "error trying to use Tiled map with margin/spacing"
Map is not correctly displayed when the Tileset file has margin/spacing defined. When I open map file or tileset on Tiled, everything works as expected, but running the game loads tiles incorrectly without using spacing between. Tileset class already obtains `spacing` and `margin` param from JSON file, but I think is not been used. Actually, I didn't find any method using these values. Any ideas?

[2022-02-15 16:26] TaylorHo opened #224 "TalkDialog.show() isn't changing character"
The TalkDialog.show() needs a `saylist` array/list as parameter, but when more than one `Say()` is passed **and** you change the `person` property of the `Say()`, the *text* changes, but the *person* not.

Example:
[code]

In this case, the dialog will be *"Some Text One"* (first) and then *"Some Text Two"* (second), it's ok, but the character doesn't change. In booth dialogs, the rendered charact

[2022-02-15 23:39] RafaelFravizel opened #225 "Random Game Crash"
Hello! First of all, i'm loving your work!
I'm creating a simple game for android and i'm using your game engine. Recently i've updated the Bonfire version to bonfire: ^2.2.3 and now i'm getting some random crashes while playing. This only started happening after i updated my version.

i throws the following error : Bad state: Cannot find reference BonfireGameInterface in the component tree.

I'm

[2022-02-16 00:32] RafaelBarbosatec commented on #225
Thanks for reporting!
I will take a look this the more fast possible.

[2022-02-16 00:35] RafaelBarbosatec commented on #224
Thanks for reporting!
I will take a look this problem.

[2022-02-16 10:35] RafaelFravizel commented on #225
Thank you for your fast reply!
i think i found the problem, was trying to add a game componente with no asset image for some reason, and it crashed.
Will do some more tests to see if it continues. But i think its solved 👍

[2022-02-16 13:45] RafaelBarbosatec commented on #225
Hi @RafaelFravizel !
You can share how you adds this GameComponent. If is possible, share with me this component code too.

[2022-02-16 14:11] RafaelBarbosatec commented on #224
Hi @TaylorHo !
Bug fixed! This correction will be available in next version!

[2022-02-16 19:06] RafaelBarbosatec commented on #223
If you are trying to use these properties in tileset:
<img width="499" alt="image" src="https://user-images.githubusercontent.com/10039275/154337326-bcb26742-b5f4-4edf-a170-569811cd4411.png">

The Bonfire is not have support for this yet.

[2022-02-16 23:18] RafaelFravizel commented on #225
Hello ! Still happening sadly.
Its happening at the flying_attack_object.dart . I can print the error stack if you want. Im in game firing my range attack and it crashes.

  void _destroyByAngle() {
    double nextX = (width / 2) * _cosAngle;
    double nextY = (height / 2) * _senAngle;

    Offset diffBase = Offset(
          rectCollision.center.dx + nextX,
          rectCollision.center.dy + ne

[2022-02-17 09:53] RafaelFravizel commented on #225
Sure, here is my implementation of range attack. In this case i'm always
using the non AOE Magic Type, using

  void actionAttackRange() {
    if (stamina < 10) return;

    //Check if any spell is selected
    if (PLAYER.selectedMagicSpell.name == Magic.EmptyImage) return;
    /* TODO: show No magic Icon */

    //return;
    if (PLAYER.selectedMagicSpell.spellType == MagicTypes.AOE) {
      //Sp

[2022-02-17 18:23] #224 closed

[2022-02-18 18:02] RafaelBarbosatec commented on #225
Thanks so much for this informations!
What version of the Bonfire you are using?

[2022-02-18 18:04] RafaelBarbosatec commented on #225
I think that i found. 😊

[2022-02-18 21:54] keithloughnane opened #227 "Null reference after .updateTiles() when using images not used before."
How to reproduce. I was trying to load a new level.

- Use BonfireWidget(..) to load some tiles, like in the Manual example.
- do gameRef.map.updateTiles(newTiles)

When loading the tiles with updateTiles if the image asset has been used before it will be ok but if the image has not been used before it will crash. Currently I am working around this by loading some 1x1 tiles off screen to pre-load

[2022-02-19 19:49] RafaelFravizel commented on #225
No problem! I'm currently using 2.2.4.

[2022-02-21 18:01] RafaelBarbosatec commented on #227
Hi @keithloughnane !
Try use 2.2.5 version!
If you need anything, I'm at your disposal

[2022-02-21 18:01] RafaelBarbosatec commented on #225
Hi @RafaelFravizel !
Try use 2.2.5 version!
If you need anything, I'm at your disposal

[2022-02-21 22:03] RafaelFravizel commented on #225
Thank you very much! So far so good! thank you for your time

[2022-02-23 17:33] pmella16 opened #229 "right way to display particles?"
hello I'm trying to show particles but I can't see them, I'm using the darkness_dungeon demo in the Knight class
I added the method

  @override
   void update(double dt) {
     super.update(dt);

     // Adds thruster particles.
     final particleComponent = ParticleComponent(
       Particle.generate(
         count: 10,
         life span: 1,
         generator: (i) => AcceleratedParticle(

[2022-02-23 19:22] RafaelBarbosatec commented on #229
Hi @pmella16 ! Thanks for reporting !
I recommend you create you own ParticleComponent class and do override the `priority` param. like this:
[code]
and use them:

[code]

I hope I've helped!

[2022-02-23 19:42] keithloughnane commented on #227
@RafaelBarbosatec Thanks, have a few beers on me.

[2022-02-23 19:48] #227 closed

[2022-02-23 23:46] pmella16 commented on #229
works like a charm, thanks

[2022-02-24 15:29] #229 closed

[2022-03-03 14:44] RafaelBarbosatec commented on #218
Hi guys!
I started something related to state management in Bonfire. Something very embryonic. I would like you to take a look and tell me what you think and suggestions for improvements or modifications, or what really sucks this way. Hahaha.
This implementation you can find in example of this [branch](https://github.com/RafaelBarbosatec/bonfire/tree/state-manager-v2)

[2022-03-03 14:53] RafaelBarbosatec commented on #218
Basically:

- Create your StateController:

[code]

- Put the dependencies and controllers:

[code]

- Adds mixin in your component:

[code]

[2022-03-03 18:22] Sproute777 commented on #218
Quite good , but I would like to use decoupled logic that can be connected to flutter .
this greatly simplifies the creation of buttons, scrolls and other interfaces.

[2022-03-03 18:32] Sproute777 commented on #218
separated blocks allow you to write more complex elements that can be tied to a regular flutter
![image](https://user-images.githubusercontent.com/76906744/156629396-ed8036b3-98f9-4d20-b055-7c12afa9c1e7.png)

[2022-03-03 18:34] Sproute777 commented on #218
I like ChangeNofifier . what if you follow a similar path and don't create blocks from ChangeNotifier they are fast and better suited for creating a game

[2022-03-03 18:41] Sproute777 commented on #218
![image](https://user-images.githubusercontent.com/76906744/156630834-c1ccd69a-b3d4-4f6a-ae8e-c039c2faa5c8.png)
stack positioned

[2022-03-03 18:43] Sproute777 commented on #218
![image](https://user-images.githubusercontent.com/76906744/156631248-407540f8-ec76-426d-8982-1a62bbf5232b.png)
Flutter + flame  => best_ui

[2022-03-04 13:16] RafaelBarbosatec commented on #218
Great! I'll thought in the way to adds listeners in widgets. maybe we use ChangeNotifier!

In you Stack, you can use the param `overlayBuilderMap` in `BonfireTiledWidget` instead of `Stack`. like this:

[code]

This way you can hide and show overlays dynamically:

[code]

[2022-03-04 17:32] RafaelBarbosatec commented on #218
@Sproute777 !
Take a look here: [interface](https://github.com/RafaelBarbosatec/bonfire/tree/state-manager-v2/example/lib/shared/interface).
I made an example. on of a `BarLifeWidget ` listening the`BarLifeController` using `StateControllerConsumer `.

Tell me what you think. ☺️

[2022-03-04 19:13] RafaelBarbosatec commented on #201
Hi @4mitabh !
Further analyzing this matter. I see it makes complete sense. If still available to submit a PR. will be very welcome.

[2022-03-04 23:13] Sproute777 commented on #218
I can try to use this solution , test .

[2022-03-05 00:40] RafaelBarbosatec commented on #218
I will publish that as experimental. And i do a better documentation about this.

[2022-03-09 17:06] abgutierrez commented on #223
Sorry for the delay in responding, I was on vacation. @RafaelBarbosatec's reply answers my question.

I will proceed to modify the implementation of the Tilesets loading in order to respect spacing and margins since it is required to keep margins and spacing of the Tilesets. We can close this issue.

[2022-03-09 17:06] #223 closed

[2022-03-13 16:30] 4mitabh commented on #201
Great!
Let me take a stab at it.

[2022-03-18 12:50] TaylorHo opened #234 "8-Directional Player Animation doesn't work"
When a class extends [SimplePlayer](https://github.com/RafaelBarbosatec/bonfire/blob/master/lib/player/simple_player.dart), there's options for animations for idle and run in four directions (Up, Down, Left, Right), but there's also four [Diagonal animations that can be passed](https://github.com/RafaelBarbosatec/bonfire/blob/master/lib/util/direction_animations/simple_direction_animation.dart) (U

[2022-03-19 02:53] TaylorHo commented on #234
Fixed in Pull Request [#235](https://github.com/RafaelBarbosatec/bonfire/pull/235)

[2022-03-19 02:53] #234 closed

[2022-03-20 20:20] 4mitabh commented on #201
So, I thought some more about it, and also looked at the existing code in detail.
Here in this PR is what appears to be the best way to implement NPCs with the current code base: https://github.com/RafaelBarbosatec/bonfire/pull/236

This requires minimal changes, is clean, and keeps things modular with mixins.
The current 'Enemy' class is a good starting point o create NPCs. It has all the right m

[2022-03-20 22:07] KyleKun commented on #201
@RafaelBarbosatec I think this is a good idea, what do you think?

[2022-03-21 14:50] winduajipras opened #237 "Does it support sanbox game?"
Great work !!
can we make sanbox game like minecraft with random map generator feature?

[2022-03-24 02:13] hygxmm opened #240 "about Map"
How can I seamlessly switch map without routing

[2022-03-24 13:33] KyleKun commented on #240
Interesting question, I think it's possible to change all tiles in the current map but not sure if it's smooth... @RafaelBarbosatec do you think it's possible?

[2022-03-28 02:29] TaylorHo opened #241 "Should use Flame 1.1.0 ?"
[Flame package just release his 1.1.0 version](https://pub.dev/packages/flame), with a lot of improvements.
It would be cool to update the version (**what appears to be a breaking change**).

I've tried to update just the version, without changes in the code, but it results in some erros (for this reason, I believed that it would be a breaking change)

&nbsp;
&nbsp;

Logs:

[code]
&nbsp;&nbsp;
Not

[2022-03-28 12:00] TaylorHo commented on #241
Today I've made more tests, and it isn't a breaking change!!
I've made the corrections, and I'll make a PR to change the version (the new version have a lot of improvements, so it's cool to maintain updated 😁).

[2022-03-28 13:29] TaylorHo commented on #241
Note: The Bonfire [score in pub.dev](https://pub.dev/packages/bonfire/score) is down scored by some things that I've corrected in this PR (without relation to the Flame upgrade, just code changes)

[2022-03-28 16:15] #241 closed

[2022-03-28 18:24] RafaelBarbosatec commented on #201
Available in Version 2.4.0.

[2022-04-01 02:56] chongbo2013 opened #244 "Can you make a small map of the scene, please?"
Can you make a small map of the scene, please?

[2022-04-01 03:00] RafaelBarbosatec commented on #244
Hi @chongbo2013 !
I think that don't understand very well.
We have some examples here: https://bonfire-engine.github.io/#/examples

[2022-04-01 03:06] chongbo2013 commented on #244
![image](https://user-images.githubusercontent.com/3191545/161187430-57d50bf7-ac43-4d6c-8618-f3a6d626d1df.png)

[2022-04-01 03:11] RafaelBarbosatec commented on #244
Great! Got it!
I'll try build something like that to adds in Bonfire!
Thanks for idea!

[2022-04-01 03:14] chongbo2013 commented on #244
Haha thanks for going back and getting you some coffee

[2022-04-01 03:18] RafaelBarbosatec commented on #201
I'm closing this issue. Any suggestions or improvements you can submit a PR or reopen this issue.
Thanks!

[2022-04-01 03:18] #201 closed

[2022-04-02 22:00] DevNico opened #245 "Tiled layer offset support"
Tiled layers offset seems to be ignored when rendering.

[2022-04-03 16:00] DevNico commented on #240
Are there any plans to implement performant quick map switching?

[2022-04-03 16:02] DevNico opened #246 "Better "above" rendering"
Right now when a tile has the above property it always gets rendered above the player. Most of the time it should only get rendered above the player If the player is actually "behind" the object.

Would it be possible to support a more intelligent "above" rendering that takes the players position into account?

[2022-04-03 16:08] RafaelBarbosatec commented on #246
All GameComponent added in the game have the behavior that you want. Try use objects in Tiled to add this objects.

[2022-04-03 16:10] DevNico commented on #246
So instead of adding the above property I would need to add all the elements via an object layer and then using the `objectsBuilder`?

[2022-04-03 16:17] RafaelBarbosatec commented on #246
An "above" property should actually have this behavior.  The behavior you expect is from a component in the game.  If you add any collisions to the tile on your map it will become a component in the game and will have this behavior waiting.

I'll see if you created a new property to have this behavior and no collision. Type "dynamicAbove"

[2022-04-03 20:22] RafaelBarbosatec commented on #240
In the current way of changing maps, changing widgets is much more useful than updating the current game. Because if you do, you will lose everything from the previous state.
Currently, we have a satisfactory result.
Take a look this example: https://bonfire-engine.github.io/#/examples?id=multi-biome

[2022-04-05 09:51] Sproute777 opened #247 "new Scroll jostyck pointer"
jostyck for turn based strateg

https://user-images.githubusercontent.com/76906744/161727989-b96fef91-4dc7-4f46-b80c-6bb12aeeb9e9.mp4

y

[2022-04-05 10:06] #247 closed

[2022-04-06 09:49] Sproute777 opened #248 "new camera improvment"
I imrove Camera scroll in joystick support

https://user-images.githubusercontent.com/76906744/161948028-1bb12a1b-7aac-46db-a003-e281d9381d2e.mp4

[2022-04-06 09:51] Sproute777 commented on #248
![image](https://user-images.githubusercontent.com/76906744/161948590-e0164743-65de-479b-9832-6a009a3677eb.png)

[2022-04-06 09:52] Sproute777 commented on #248
![image](https://user-images.githubusercontent.com/76906744/161948811-414a2166-01da-45e0-bc1c-08258b59207a.png)

[2022-04-06 09:56] Sproute777 commented on #248
![image](https://user-images.githubusercontent.com/76906744/161949511-1ed0f600-620e-4166-8589-919121937bd7.png)

[2022-04-06 09:56] Sproute777 commented on #248
![image](https://user-images.githubusercontent.com/76906744/161949681-6912be94-46c5-4a53-a68d-faf631de1d68.png)

[2022-04-06 09:58] Sproute777 commented on #248
Can you add similar joystick in bonfire game .  I am use Context for buinding Camera . But this is not support in Engine

[2022-04-11 21:12] KyleKun commented on #248
Hi @Sproute777 , consider using inline code next time to avoid multiple images like this. Regarding the feature, can you open a PR since you could get it to work? Thanks!

[2022-04-12 14:38] RafaelBarbosatec commented on #244
![image](https://user-images.githubusercontent.com/10039275/162987595-794e6f99-73c2-40ae-abc2-72d3d218d7f7.png)

Bit by bit this feature show up! 😊

[2022-04-14 02:20] stx opened #250 "TextField breaks controls"
Thanks for working on this wonderful software!

Tested with the repo example in Chrome, this breaks controls:

[code]

If you tap the text field, controls will still work. If you press enter or tap out of the text field, controls stop working.

Weirdly, if you tap _back_ into the text field, controls start working again. Is this a Bonfire issue or Flame issue?

[2022-04-18 00:11] RafaelBarbosatec commented on #244
Available in 2.4.1 version. Any suggestions or improvements, please  open PR.
[DOC](https://bonfire-engine.github.io/#/minimap)

[2022-04-18 00:11] #244 closed

[2022-04-18 00:11] RafaelBarbosatec commented on #245
Available in 2.4.1 version. Any suggestions or improvements, please  open PR.

[2022-04-18 00:11] #245 closed

[2022-04-18 00:12] RafaelBarbosatec commented on #246
"dynamicAbove" available in 2.4.1 version. Any suggestions or improvements, please  open PR.

[2022-04-18 00:12] #246 closed

[2022-04-18 00:14] RafaelBarbosatec commented on #250
Hi @stx !
Thanks for this report!
I will evaluate this case!

[2022-04-18 04:52] stx commented on #250
Found the issue. FlameGame doesn't take focus back when tapping on them. Here's my fix:

[code]

[2022-04-18 16:22] RafaelBarbosatec commented on #250
Thanks so much !
The params `focusNode`, `autofocus` and `mouseCursor` will available in next release.

[2022-04-23 04:01] RafaelBarbosatec commented on #250
Available in 2.4.2 version.

[2022-04-23 04:01] #250 closed

[2022-04-23 04:01] #240 closed

[2022-04-27 00:57] TaylorHo opened #253 "SimpleDirectionAnimation initAnimation doesn't work"
The [SimpleDirectionAnimation](https://github.com/RafaelBarbosatec/bonfire/blob/master/lib/util/direction_animations/simple_direction_animation.dart), widget passed to the SimplePlayer *"animation"* property, have an option called *"initAnimation"* ([line 71 of the SimpleDirectionAnimation](https://github.com/RafaelBarbosatec/bonfire/blob/master/lib/util/direction_animations/simple_direction_anima

[2022-04-27 13:48] RafaelBarbosatec commented on #253
Hi @TaylorHo !
Thanks for report this!
So, this property really not is used. I will remove that.
You must use the SimplePlayer property named: `initDirection`.

[code]

[2022-04-28 01:24] TaylorHo commented on #253
Oh, I got it!

Thanks for the explanation and future changes!
Keep up the good work =)

[2022-04-28 01:24] #253 closed

[2022-05-13 17:49] #218 closed

[2022-05-13 19:58] RafaelBarbosatec commented on #248
I did some improvements in the `JoystickMoveToPosition`. Maybe it's be useful.
Available in next release.

https://user-images.githubusercontent.com/10039275/168380756-5ef4c62f-3fa2-43a0-bf89-3594504b923b.mp4

.

[2022-05-17 20:41] Sproute777 commented on #248
wow this looks so nice

[2022-05-30 16:45] firmino2611 opened #258 "Problem starting widget"
![Screenshot 2022-05-30 134357](https://user-images.githubusercontent.com/18086331/171033775-4ee65cb3-f946-45b5-8d48-ff9964edaa94.png)
![Screenshot 2022-05-30 134429](https://user-images.githubusercontent.com/18086331/171033840-e1d0fade-4fda-4469-afe9-8db47474baa7.png)

[2022-05-30 16:51] RafaelBarbosatec commented on #258
You can share folder restructure when there is the map files?

Remembering that the map files as tileset have to be created in the same folder as the json maps. Otherwise can not find.

[2022-05-30 19:11] #258 closed

[2022-06-06 19:23] RafaelBarbosatec commented on #237
Hi @winduajipras !
Maybe it's should be useful to this purpose:
https://github.com/RafaelBarbosatec/bonfire/pull/259

[2022-06-07 07:19] winduajipras commented on #237
@RafaelBarbosatec
🥰 This is what i want, make a dynamic map by changing matrix value

Thankyou Rafael

[2022-06-08 20:33] #237 closed

[2022-06-13 03:18] pmella16 opened #261 "error in camera in update 2.11.10"
Hi, in the version 2.11.10 this same thing happens again, i replace the method _updateLimits in BonfireCamera for the _updateLimits 2.10.9 version and works fine

[code]

https://user-images.githubusercontent.com/19208317/173273345-67bbafc0-7407-4828-b01d-30e7c053f223.mov

[2022-06-13 12:51] RafaelBarbosatec commented on #261
Hi @pmella16 !
Thanks for reporting!
I'm will analyzing this problem.

[2022-06-13 13:59] RafaelBarbosatec commented on #261
Fix available in version 2.6.0!

[2022-06-13 16:33] RafaelBarbosatec commented on #261
Beautiful game you are building. 😊 Congrats

[2022-06-16 18:05] Zerotask opened #263 "Can't get it running"
I created a new flutter project in VS Code and then followed the steps from https://bonfire-engine.github.io/#/get-started?id=creating-your-map and https://www.youtube.com/watch?v=hVCmLqZ0JVw

If I start it with windows (x64), a new window opens and closes directly, jumping to here
![image](https://user-images.githubusercontent.com/20150243/174136070-595bbf34-9b09-4103-8e34-ad8cbad3c6fb.png)

I th

[2022-06-16 18:34] Zerotask commented on #263
I just tried it with Android Studio and a refresh project.

Android 12 with Virtual Devices just shows a black screen with a spinner.
Starting with windows device it's the same
[code]

[2022-06-16 19:00] RafaelBarbosatec commented on #263
Hi @Zerotask !
In `assets/image` there are the map json and tileset json?

By the error displayed. looks like it didn't find the tileset data.

What version of the Tiled you are using?

[2022-06-16 19:20] Zerotask commented on #263
My Tiled version is 1.8.6

map.json and tileset.png. In Tiled I set the embed in map option for the tileset. There is also a tilesets key in the map.json.

I also tested it with a standalone tileset file (called default.tsx) which produces the same error.
![image](https://user-images.githubusercontent.com/20150243/174148417-be8190ca-1d3e-44c8-aecb-b7067fe60e9c.png)

[code]

[2022-06-16 19:48] #263 closed

[2022-06-26 12:11] Fixid-Fuzz opened #265 "Is there any way to change the sprite of the declared player?"
Dear developer.
I am making RPG games with the precious engine you made.

I want to make an RPG that equips items.
But I don't know how to modify the sprite of player declared in BonfireTiledWidget.

Is there any way to change the sprite already declared in BonfireTiledWidget?

If it already exists, can you tell me how to do it?

thanks for reading my question.

[2022-06-26 13:30] RafaelBarbosatec commented on #265
Hi @Fixid-Fuzz !
Thanks! 😊
You can use the method `replaceAnimation`. With this, you can change the SimpleDirectionAnimation.
Bonfire also have methods to merge images, this will can help you to build dynamics SpriteSheets with differents clothes, equipments, etc. I use this in SunnyPlace project.

[2022-06-26 13:31] RafaelBarbosatec commented on #265
I'll publish the example about this in this repository

[2022-06-26 15:58] Fixid-Fuzz commented on #265
Thank you so much!!!

[2022-06-27 04:36] Fixid-Fuzz commented on #265
https://user-images.githubusercontent.com/99014005/175860275-2e1a2712-8739-4354-94b7-de719895931e.mov

Dear Developer
I wrote the code the way you suggested.
The character changes but is not visible until it moves.

When constructionMode is set to true, there is no sprite, but the area is held.

This is the code I wrote. Is there anything else I need to write?

------------------------------------

[2022-06-27 18:43] RafaelBarbosatec commented on #265
Example in [develop branch](https://github.com/RafaelBarbosatec/bonfire/tree/develop/example/lib/lpc)

[2022-06-28 10:01] Fixid-Fuzz commented on #265
this is exactly what i want !! thank you

[2022-06-28 10:01] #265 closed

[2022-06-28 20:00] TaylorHo opened #267 "TiledWorldMap black screen"
Hi, I've noticed an error/bug in TiledWorldMap. Using TiledWorldMap with ```moveOnlyMapArea: true``` in the cameraConfig, results in dark parts in the screen.

The edges left and top is ok, but the map doesn't respect the ```moveOnlyMapArea: true``` on the bottom and right. In addition, this "dark screen" appears as the map moves (as if it takes a while to load).

**I've noticed this in versions >

[2022-06-29 12:50] RafaelBarbosatec commented on #267
Hi @TaylorHo !
Thanks for this report!
I'll analyze this issue.

[2022-06-29 21:10] RafaelBarbosatec commented on #267
Hi @TaylorHo.
In the moment i not identify this problem in 2.6.2 version. You could verify if occurs this issue in this version?

[2022-07-01 22:04] TaylorHo commented on #267
Yeah, I've tried with 2.6.2 too.
I'll try to create a minimal reproducible example and share it here.

[2022-07-01 22:47] TaylorHo commented on #267
I've found out what the real problem is!

In my game, I start ```cameraConfig``` with ```zoom: 2``` (camera focusing on main player). After that, in ```onReady``` (function called in ```BonfireTiledWidget```) I change the zoom to 1 (creating a kind of zoom out effect).

The map does not follow this zoom change. That's why parts of the map seem to take a while to load (because for the map it's as i

[2022-07-02 00:12] TaylorHo commented on #267
Exploring the code I got a solution!!
I'll open a PR for this, making the changes and explaining why this bug was occurring.

[2022-07-02 00:15] RafaelBarbosatec commented on #267
Awesome! 🚀🤩
Thanks so much! 🤟

[2022-07-02 01:45] #267 closed

[2022-07-03 10:08] Fixid-Fuzz opened #269 "Can I change the already assigned joystick image?"
I want to fight while switching characters.
To do this, the joystick action image needs to change when I change the character.
Is it possible to implement this function?

Changing the character was well implemented with the example you gave.

Thank you always for your hard work.

[2022-07-04 04:05] RafaelBarbosatec commented on #269
Hi @Fixid-Fuzz !
Thanks for contacting!
You can access the joystick in this way:

[code]

In the moment you can add and remove actions :

[code]

But not is possible update de `directional`. I will adds this option in next release.

[2022-07-04 04:44] Fixid-Fuzz commented on #269
Thank you!!

[2022-07-04 04:58] RafaelBarbosatec commented on #269
Available in `2.6.3` version.
[code]

[2022-07-04 13:15] Fixid-Fuzz commented on #269
I think you are a great creator.
I hadn't even thought of the arrow key sprite problem.
I admire your insight.
thank you

[2022-07-04 13:15] #269 closed

[2022-07-09 18:21] TaylorHo opened #271 "(bug) The player keeps moving when the TalkDialog is called"
## Introducing the bug
When approaching some items on the map, I call ```TalkDialog.show``` to show an interactive dialog with the item.
When used on non-mobile platforms (such as web and desktops), when displaying dialog, ```KeyboardDirectional``` crashes and keeps the player moving nonstop.

## Way to prevent (which still needs improvement)
To prevent this, you can use ```gameRef.player?.stopMov

[2022-07-14 17:48] griotdonation opened #272 "Enemies avoid collision obstacles"
Hi thank you so much for such awesome code! Im trying to make the enemies follow the player but do so while avoiding collision obstacles. similar the MoveToPositionAlongThePath class with the player, but I cant get it work for the enemies. any help will be greatly greatly appreciated!

[2022-07-14 17:50] griotdonation opened #273 "Add line of sight for enemies"
Is there any way to a Line of sight with enemies instead of a radiusVision? essentially, the enemies can only see what is in front of them within a specifically cone shaped area. Thanks so much in advanced!

[2022-07-17 02:32] ahndwon opened #274 "How to set type above on tile layers"
Hello, I'm trying to use type `above` for my Tiled maps.

But I think it can only be used on tiles. Not tile layers.
The docs are not really clear where type `above` is set. [docs](https://bonfire-engine.github.io/#/tiled_support?id=tiled-map-example)
Is it possible to set tile layers by above?

[2022-07-17 02:35] RafaelBarbosatec commented on #274
Hi @ahndwon !
Thanks for contacting.
Is not possible set `above` in tile layer only in the tile.

[2022-07-17 02:38] RafaelBarbosatec commented on #273
Hi @griotdonation !
Thanks for contacting!
In the moment it's not possible. But it's a good idea! I didn't have thinking about this yet. I will implement this feature.

[2022-07-17 02:39] RafaelBarbosatec commented on #271
Hi @TaylorHo !
Thanks for this report.
I'm still trying to reproduce. I haven't been able to catch it yet.

[2022-07-17 02:46] RafaelBarbosatec commented on #272
Hi @griotdonation !
Thanks so much!
You tried use the `followComponent` method?

[2022-07-17 02:51] RafaelBarbosatec commented on #274
It's is a good idea. I will think how we can do this.

[2022-07-17 03:54] ahndwon commented on #274
Thanks that will make developing beautiful Tiled maps much easier!!

[2022-07-17 07:03] MrDgbot opened #275 "Merging images doesn't work in 3.0.5"
Flutter Verson Info

[✓] Flutter (Channel stable, 3.0.5, on macOS 13.0 22A5295i darwin-arm, locale zh-Hans-CN)
    • Flutter version 3.0.5 at /Users/dg/fvm/versions/stable
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision f1875d570e (4 days ago), 2022-07-13 11:24:16 -0700
    • Engine revision e85ea0e79c
    • Dart version 2.17.6
    • DevTools version 2.12.

[2022-07-17 14:48] griotdonation commented on #272
Hi Rafael!

Oh sorry, I don't think I gave this functionality a try for the enemy. I'll take a look. Thank you so much for you response.

[2022-07-17 14:50] griotdonation commented on #273
Thank you so much Rafael!! This will be really helpful

[2022-07-18 00:33] TaylorHo commented on #271
Ohh, Ok!
I'll try to send here a minimal reproducible project/code, demonstrating the bug.

[2022-07-18 01:59] TaylorHo commented on #271
### Reproducible Code

Download the compressed project attached below, run the ```flutter pub get```, and then, run the **web version of the project** (usually ```flutter run -d chrome```).
Just remembering that the error only occurs on desktop platforms, such web.

I've added a better explanation at the ```lib/fire.dart``` file (where the TalkDialog is shown).

[example.zip](https://github.com/Ra

[2022-07-18 16:17] rafaelbarbosadrip commented on #275
In web only work run :
`flutter run -d chrome --web-renderer canvaskit --dart-define=BROWSER_IMAGE_DECODING_ENABLED=false --release`

[2022-07-18 18:52] #275 closed

[2022-07-19 14:37] rafaelbarbosadrip commented on #271
Fixed in version 2.6.4. Pls use `gameRef.player?.idle();` to stop player.

[2022-07-19 14:39] rafaelbarbosadrip commented on #274
Feature added in version 2.6.4.
Just create a Custom Property in your layer named `type` and value `above`.
<img width="296" alt="image" src="https://user-images.githubusercontent.com/108682683/179777733-96792c75-add0-4559-86d9-95f92904faed.png">

[2022-07-20 16:48] #274 closed

[2022-07-21 12:54] #271 closed

[2022-07-21 15:54] griotdonation commented on #273
Hi there, just wanted to know if you had an idea of when this feature may be released? No rush just curious to I can plan for my game project.

[2022-07-22 04:35] RafaelBarbosatec commented on #273
Hi @griotdonation !
This feature will available in next release. I'm just do some improvements

[2022-07-22 19:16] #273 closed

[2022-07-23 04:52] ahndwon opened #278 "How to add collision by Tiled map?"
Hi, I'm trying to make walls by Tiled map, but it seem's I can't add collision by custom properties.
Is there a way to add collision on tiles beside adding objects?

[2022-07-23 05:18] RafaelBarbosatec commented on #278
Hi @ahndwon !
By Tiled you can add collision in tileset adding collision in a tile. Or you can add a object in you map and set your type to 'collision'.

https://bonfire-engine.github.io/#/tiled_support?id=useful

[2022-07-23 05:48] ahndwon commented on #278
oops, sorry I think there's problem with my wall tiles.
Adding collisions by Tiled collision editor is working with other tiles.
Thanks for the fast reply! I'll close the issue.

[2022-07-23 05:48] #278 closed

[2022-07-27 00:26] #272 closed

[2022-07-27 00:29] griotdonation opened #280 "player animation for melee attack"
Is there any way to update the player sprite animation when performing a melee attack? for example, the player animation will punch/kick as opposed to the whiteAttackEffectTop animation when pressing melee attack button,

[2022-07-27 00:58] RafaelBarbosatec commented on #280
Hi @griotdonation !
Yes, it's possible. You can use animation.playOnce(newAnimation);

Take a look in this example:

https://github.com/RafaelBarbosatec/mini_fantasy

[2022-07-27 01:08] griotdonation commented on #280
Thanks for your amazing and quick response!

[2022-07-27 01:08] #280 closed

[2022-08-05 16:02] griotdonation opened #281 "Picking up collision decorations"
Is there a possible way where the character can pick up a decoration with collision? For example if I wanted to player to jump on top of a barrel or pick up the barrel and hold it over his head?

[2022-08-05 16:17] RafaelBarbosatec commented on #281
Yes, it's possible pick up a decoration.
In the player you can override 'onCollision' to know when and who is do collision with your player. And then, you can call some method I'm your decoration to do this decoration follow the player.
There is a mixin named 'Follower' that help you do your decoration follow you player.

[2022-08-05 18:07] griotdonation commented on #281
I think I get it, let me give it a try! Thanks so much.

[2022-08-05 18:09] #281 closed

[2022-08-06 01:58] griotdonation opened #282 "Sprite sheet animation that follow player"
Hi,

forgive me if this was answered already but I have a player and the sprite is designed to have no hands so  i can dynamically assign weapons to the player. these weapons are sprite sheet animations themselves. Im having trouble having this weapon animation follow the character as if its attached to his body. Please help if this is possible.

<img width="134" alt="image" src="https://user-imag

[2022-08-06 07:13] ahndwon opened #283 "How to block move to position when user touches overlay interface when using JoystickMoveToPosition."
Hi, I'm using a modified JoystickMoveToPosition.
But when I touch the overlay interface,
due JoystickMoveToPosition, my character moves to position where i pressed on the overlay interface.

Is there a way to block joystick??
I want to only interact with overlay interface.

[2022-08-06 13:27] RafaelBarbosatec commented on #282
Hi @griotdonation!
We don't have anything to do this in the simple way. You must will think a way to do this.
If you can share these SpriteSheets I can try do something and share with you.

[2022-08-06 13:33] RafaelBarbosatec commented on #283
Hi @ahndwon !

You are using the GameInterface or your interface is created with Widgets?

[2022-08-06 13:37] griotdonation commented on #282
Wow that'll be very much appreciated! Thank you, Rafael. Here are the sprite sheets. My end goal is to get a gun swivel effect similar to the game nuclear thrown.

![pistol](https://user-images.githubusercontent.com/55745803/183251020-180744e6-4338-4acc-a57e-04a2961aea3c.png)
![Character_9](https://user-images.githubusercontent.com/55745803/183251030-4f9eb389-2c97-4807-b823-f515396d0973.png)

Nucl

[2022-08-06 15:12] ahndwon commented on #283
@RafaelBarbosatec  Thank's for the reply!
I'm using interface created by Widgets and also the MiniMap

[2022-08-06 15:18] RafaelBarbosatec commented on #283
Humm. I have to do improvements about this. Don't let the gestures event pass to the game when received by widgets.

[2022-08-06 15:35] ahndwon commented on #283
Yes that's right!

[2022-08-08 21:11] Fixid-Fuzz opened #286 "Is there a way to hit multiple enemies?"
Is it possible to add range attacks to simpleAttackRange or simpleAttackMelee?
I want to hit multiple enemies with one skill. However, only the object that collides first takes damage.
Is there any way to add range attack?

[2022-08-08 22:06] RafaelBarbosatec commented on #286
Hi @Fixid-Fuzz !
Yes, it's possible and already work. If the enemies have be in the attack both receive damage.
Maybe you need grown size of the attack.

[2022-08-08 22:38] Fixid-Fuzz commented on #286
You were right.
melee attack confirmed that the range attack works normally.

In fact, what I wanted was to shoot a huge fireball and damage multiple people.

Tried testing with simpleAttackRangeByAngle, but still only got one hit.

Is it possible to perform a range attack by adding additional work to the onDestroy function of simpleAttackRangeByAngle?

[2022-08-09 07:17] ahndwon commented on #283
Wow, thanks @RafaelBarbosatec !!
That was fast🔥
I'll check it out and close this issue.
Thanks again!

[2022-08-09 07:17] #283 closed

[2022-08-09 10:50] RafaelBarbosatec commented on #286
Great!
I will do improvements in range attack to apply damage in area of destroySize. I think what make sense!

[2022-08-09 13:00] RafaelBarbosatec commented on #286
Available in `2.7.1` version

[2022-08-09 14:05] RafaelBarbosatec commented on #282
Hi @griotdonation !
Sorry for my late.
Take a look if this work for you:
https://github.com/RafaelBarbosatec/game_player_gun_example

https://user-images.githubusercontent.com/10039275/183669664-fdf8daac-a3a7-4a53-949f-016063c40d28.mp4

[2022-08-09 16:01] griotdonation commented on #282
No worries at all! Rafael, I cant thank you enough. this is awesome! thank you so much. I may make some small tweaks, for example to use the RADangle to shoot, to allow the player to shoot in the opposite direction he may be running in. for example, if zombies are chasing player, I'd want to move back while shooting.

Do you have "By me a coffee" account to something. really will like to show my g

[2022-08-10 15:04] Fixid-Fuzz commented on #286
Thank you so much.
I've verified that it works exactly as I wanted it to.
you are the best

[2022-08-10 15:04] #286 closed

[2022-08-11 00:47] griotdonation commented on #282
Hi Raphael,

Im trying to resolve the playonce animation when moving, it appears the animation plays in the current position but doesn't follow the player while moving. Do you know how to resolve this issue

https://user-images.githubusercontent.com/55745803/184046819-908db5fc-04de-471e-911f-5009362938cf.mp4

?

[2022-08-11 02:27] RafaelBarbosatec commented on #282
Hi @griotdonation !
I noticed this problem and updated that project. I even added this function in the UseSpriteAnimation mixin to make it easier.

[2022-08-11 02:32] griotdonation commented on #282
Awesome!! I'll check it out, thanks, Raphael!

[2022-08-11 02:32] #282 closed

[2022-08-11 04:02] griotdonation opened #290 "Player running backwards"
Hi Raphael,

Quick question. Im trying to get my player to shoot in the opposite direction in which he is running. essentially shooting while running backwards. My objective is is to use the radAngle to get my shooting direction, and essentially have the player face/shoot in that direction while running backwards in the opposite direction. is this possible with the current framework? Im guessing I

[2022-08-11 11:10] RafaelBarbosatec commented on #290
Yes, it's possible!
You can do attack to any direction.
Using 'simpleAttackRangeByAngle', only pass the radAngle that you want.

[2022-08-11 11:18] RafaelBarbosatec commented on #290
Basically all it's possible. 🤣
Something has done in Bonfire to turn more easier. Other you can create your self, just need understand how game loop working.
Bonfire just makes your life easier with ready-made functions, components and behaviors

[2022-08-11 12:28] griotdonation commented on #290
You're a god send! Thank you for all your help and for this awesome library

[2022-08-11 12:28] #290 closed

[2022-08-12 14:47] Fixid-Fuzz opened #292 "after 2.7.3 AnimatedFollowerObject issue"
Dear developer.
After patch 2.7.3
When an AnimatedFollowerObject overlaps a character, it does not appear on top of the character and appears behind it.

The logic seems to have changed regarding priorities.

Can I possibly set the priority of AnimatedFollowerObject?

Up to 2.7.2 it's perfect.

[2022-08-14 03:57] RafaelBarbosatec commented on #292
Hi @Fixid-Fuzz !
Fix available in `2.7.4` version.

[2022-08-14 07:22] Fixid-Fuzz commented on #292
You are the best.
Developing with your creations is so much fun.
Thank you for always.

[2022-08-14 07:22] #292 closed

[2022-08-14 16:53] RafaelBarbosatec commented on #282
Hi @griotdonation.
If you want encourage this work. You can contribute here:
https://www.buymeacoffee.com/rafaelbarbosa

[2022-08-14 16:57] RafaelBarbosatec commented on #292
Thanks so much! 😊🤟
If you adds 'AnimatedFollowetObject' as player child you could also solve this problem.
Using add() instead of gameRef.add().

[2022-08-16 02:37] Fixid-Fuzz commented on #292
Thank you!! I will take note

[2022-08-16 05:10] griotdonation commented on #282
Will be making a contribution!

[2022-08-20 01:57] KyleKun opened #296 "Update to Flame v1.3.0"
Hi @RafaelBarbosatec , do you think it would be possible to update to v1.3.0 in this weekend so we can use Bonfire in the Flame Game Jam?

Thanks as always!

[2022-08-20 14:28] rafaelbarbosadrip commented on #296
Hi @KyleKun!
I'm checking to see if there are any breaking changes that could impact

[2022-08-20 14:54] RafaelBarbosatec commented on #296
Done!

[2022-08-21 03:32] #296 closed

[2022-08-22 17:52] Toda-Hora opened #299 "moveToPositionAlongThePath method not working for Enemy class"
When using the moveToPositionAlongThePath method to place an Enemy back at spawn it calculates the route but doesn't move the enemy to it.

[2022-08-22 19:00] rafaelbarbosadrip commented on #299
Hi @Toda-Hora !
I cannot reproduce this problem. can you give me more information?

[2022-08-23 05:01] Fixid-Fuzz commented on #299
I had a similar case.
This function does not work when the enemy is not on the screen.

I tried to use it this way, but it didn't work, so I'm using it in another way.

[2022-08-23 10:03] RafaelBarbosatec commented on #299
Yes, only work to visible objects. But I can adds a param tem enable this.

[2022-08-23 10:19] Fixid-Fuzz commented on #299
awesome!! If so, I would be very happy.

[2022-08-23 10:26] Fixid-Fuzz opened #301 "Is it possible to resolve the monster collision in the seeAndMoveToPlayer?"
Use seeAndMoveToPlayer to move monsters to the player.

However, due to the large size of the collision, if monsters collide with each other before reaching the player, they do not move.

If they collide, can you re-approach them in different paths?

[2022-08-23 10:39] RafaelBarbosatec commented on #301
Hi @Fixid-Fuzz !
This method not use FindPath Algorithm. He tries to approach using something simpler. He even tries to dodge obstacles depending on the situation.

[2022-08-23 15:03] Fixid-Fuzz commented on #301
https://user-images.githubusercontent.com/99014005/186191272-959c6646-e754-47ed-9fe2-459a393f1ccc.mov

When I use followComponent in the seeAndMoveToPlayer function, it often happens that the enemy does not follow and stops.
It seems that the enemy is trying to go to the same coordinates. Is there any way I can do to solve it?

If there is no other way than to use FindPath Algorithm, I'll fix it t

[2022-08-23 15:08] Fixid-Fuzz commented on #301
I'm so sorry I have so many things I want from God.

[2022-08-23 15:17] RafaelBarbosatec commented on #301
Interesting. I will analyze this. This wasn't supposed to happen.

[2022-08-23 15:24] rafaelbarbosadrip commented on #301
Strange in this example: https://bonfire-engine.github.io/examples/bonfire/#/ (Simple example) this not happen.

[2022-08-23 15:28] Fixid-Fuzz commented on #301
class CryptGoblin extends SimpleEnemy with ObjectCollision {
  final Vector2 initPosition;
  double attack = 20;

  CryptGoblin(this.initPosition)
      : super(
    animation: EnemySpriteSheet.goblinAnimations(),
    position: initPosition,
    size: Vector2.all(tileSize * 1.5),
    speed: tileSize / 0.35,
    life: 120,
  ) {
    setupCollision(
      CollisionConfig(
        collisions: [

[2022-08-23 15:29] Fixid-Fuzz commented on #301
I only fixed the collision size in your code.

https://github.com/RafaelBarbosatec/darkness_dungeon

[2022-08-23 17:28] rafaelbarbosadrip commented on #301
@Fixid-Fuzz try grow `margin` in `seeAndMoveToPlayer `

[2022-08-23 17:33] rafaelbarbosadrip commented on #301
What version of Bonfire you are using.

[2022-08-23 17:35] rafaelbarbosadrip commented on #301
I have that do update this game: `https://github.com/RafaelBarbosatec/darkness_dungeon`.

[2022-08-23 17:36] Fixid-Fuzz commented on #301
i updated to 2.9.0.

[2022-08-23 18:04] Fixid-Fuzz commented on #301
[darkness_dungeon_bonfire2.9.0.zip](https://github.com/RafaelBarbosatec/bonfire/files/9409550/darkness_dungeon_bonfire2.9.0.zip)

I'm so sorry.
Fixed collision sizes and maps for better reproduction.
I can't fix bugs due to lack of skills.
Thank you so much for your support.

[2022-08-23 18:20] Fixid-Fuzz commented on #301
https://user-images.githubusercontent.com/99014005/186234546-7c873e63-f3c7-4f2d-89f8-b6324f9ef5f4.mov

[2022-08-23 20:47] Fixid-Fuzz commented on #301
한가지 방법을 생각해봤습니다.
제가 생각하기에 멈추는 이유는 적끼리 충돌 때문입니다.
그래서 만약 적끼리 부딛힌다면 runRandomMovement를 부여해서 움직이게 하면 해결 될 것 같습니다.

아래 코드는 제가 해결해 본 방법입니다.
부족한 점이 있으면 지적 부탁드립니다.

    import 'package:bonfire/bonfire.dart';
    import 'package:darkness_dungeon/main.dart';
    import 'package:darkness_dungeon/util/enemy_sprite_sheet.dart';
    import 'package:darkness_dungeon/util/functions.dart';
    import 'package:dark

[2022-08-24 12:32] RafaelBarbosatec commented on #301
Hi @Fixid-Fuzz !
This is a really very specific case. the two synchronously try to occupy the same space. Like two fools trying to get through the door at the same time 😂. I made a small improvement and if it can't move it will be called `notObserved`. So if you put a runRandomMovement in it it should solve.

[2022-08-24 12:41] Fixid-Fuzz commented on #301
You made it simple and clear.
Thank you very much.

[2022-08-24 12:43] #301 closed

[2022-08-24 14:40] Fixid-Fuzz opened #303 "seeAndMoveToPlayer feature suggestion"
thank you!!
I confirmed that you updated seeAndMoveToPlayer.

Being notObserved even though the enemy is actually visible is likely to cause problems later.

Obstacle obstaclecollision?.call(); instead of notObserved?.call();
How about adding something like that?

Could you please add an option like 'obstaclecollision' for exceptional circumstances?

    seeAndMoveToPlayer({
        obstaclecollis

[2022-08-24 16:02] Fixid-Fuzz commented on #303
It seems to be bothering you, so I closed the issue and was looking for a better way.
Thank you for your help as always.

[2022-08-25 10:58] #299 closed

[2022-08-26 03:15] beanhead217 opened #304 "platformer example?"
Hi,

thank you so much for this awesome code. I'd like to create a platformer-style game, like the Mario brothers. I don't see any examples for a platformer, is there any existing friendly code already existing that will allow me to easily implement this? for example horizontal movement only and jumping?

[2022-08-26 17:48] rafaelbarbosadrip commented on #304
Hi @beanhead217 !
This package is focused in create games top-down. To create platformer-style game i recommend use the [Flame](https://flame-engine.org/) pure

[2022-08-26 19:59] beanhead217 commented on #304
Understood thank yoi

[2022-08-26 19:59] #304 closed

[2022-08-27 02:44] HenriqueCrj opened #305 "moveToPositionAlongThePath not working for Enemy"
Hi, I'm trying to use moveToPositionAlongThePath function. The path is shown on screen, however the enemy doesn't move. The JoystickMoveToPosition class that uses the same function underneath works as I move my Player, the problem only happens with enemies.

[code]
I think it may be related to #299

[2022-08-28 04:23] RafaelBarbosatec commented on #305
Hi @HenriqueCrj

You never use the method MoveToPositionAlongThePath in the update method. It's must be called one time to start, and no called many times using update method.

[2022-08-28 16:17] HenriqueCrj commented on #305
Thanks, now I understand how it works! I just put a check to see if the enemy is following the path.
[code]
Now the problem is performance. I have 5 enemies on the map using pathfinding, but when they are following a path the performance goes down really bad, almost freezing the game. Even collisions glitch sometimes and I pass through walls,
however this is another problem. Thanks again for your

[2022-08-28 22:36] RafaelBarbosatec commented on #305
Yeah, Many components calculating path in the same time. we have performance problem. 😭
I will close this issue.

[2022-08-28 22:36] #305 closed

[2022-08-30 12:49] RafaelBarbosatec commented on #303
Available in version 2.9.2

[2022-08-30 12:49] #303 closed

[2022-08-30 16:28] Fixid-Fuzz commented on #303
You are the best always!!

[2022-08-31 05:10] beanhead217 opened #307 "intersectionPoints of collision"
is there any way to get the intersectionPoints (Set<Vector2>) of a collision by using the ObjectCollision class

[2022-08-31 21:34] #307 closed

[2022-09-02 21:08] TaylorHo opened #309 "Dragable Map"
Is it possible to create a dragable map?

[2022-09-03 02:48] RafaelBarbosatec commented on #309
We can do this happen.
You have some reference or example to send me?

[2022-09-03 14:44] RafaelBarbosatec commented on #309
Try this with the new version.

[2022-09-04 19:55] TaylorHo commented on #309
It's worked! Thanks a lot!

I've extended `MouseGesture` too, adding a zoom feature in the map :)

[2022-09-06 16:48] #309 closed

[2022-09-08 07:08] Fixid-Fuzz opened #312 "In 2.9.4 version, Attackable requests."
In 2.9.4, Attackable has no set life.

Could you please add set life again?

I'm making a game where you fight by changing multiple characters, and each character has a different life.

I used the set life function when changing characters, but now it's gone, so it's a difficult situation.

I tried to cope with set life with updateLife applied to 2.9.4, but when a character dies, I coded another c

[2022-09-08 16:20] Fixid-Fuzz commented on #312
Neither addLife nor updateLife can specify the moment a character dies.

[2022-09-08 16:44] RafaelBarbosatec commented on #312
I understand. but only it's call `die` in `removeLife`. And you can do override in `die` method and not call the `super.die` to not die.

[2022-09-09 04:20] Fixid-Fuzz commented on #312
I hadn't thought of overriding it.
Thank you. Let's proceed like that.

[2022-09-09 04:20] #312 closed

[2022-09-09 17:33] rafaelbarbosadrip commented on #312
Thanks so much for this issue. But would be strange I permit Editing life without verify if revive or die.

[2022-09-11 19:04] Fixid-Fuzz commented on #312
I couldn't check verifyDieOrRevive in updateLife in Attackable.

Thank you for always making great engines.

[2022-09-13 01:50] beanhead217 opened #316 "8 direction x axis flipping"
Hi there,

Wonderful code! I have  a question regarding 8 direction . Is it easily possible to flip X-axis of runUpRight and runDownLeft like it’s done runRight? This will save me having to create additional sprite sheets for left animations.

[2022-09-13 20:08] RafaelBarbosatec commented on #316
Hi @beanhead217 .
Thanks so much!
I think that is possible! I'll working in this. ☺️

[2022-09-14 19:56] RafaelBarbosatec commented on #316
Feature available in version 2.10.3.

[2022-09-14 23:09] #316 closed

[2022-09-18 18:57] Fixid-Fuzz opened #318 "Item drop motion related request"
Does the engine support item drop motion?

After cutting a tree in the sunnyplace,  the firewood recoils and falls as if it had received gravity.

When I catch a monster, I also want to drop the item while giving it motion.

It would be a great honor if you could get a related example.

[2022-09-19 13:29] RafaelBarbosatec commented on #318
Hi @Fixid-Fuzz !
I created this using the [Flame Effects](https://docs.flame-engine.org/1.3.0/flame/effects.html). Like this:

[code]

[2022-09-19 13:56] Fixid-Fuzz commented on #318
Great example thank you so much!!

[2022-09-19 13:56] #318 closed

[2022-09-19 15:34] GyHUN95 opened #320 "SimpleAttackMelee animation seems wrong"
Dear Rafael,

I just got an interesting feedback from the unmodified attack animation: I can give the right one, which has a random offset, but the direction is ok, but in the other directions... Those are horrible, I tried to modify the default template a few times, but no success with damage. I searched for a quick option to transform images, but the spritesheet can't handle this.

Sorry for bot

[2022-09-19 16:57] GyHUN95 commented on #320
Thank you, so I was totally in the wrong direction with using or rewriting the built-in function. This solution works I updated a bugfix for it. Solved.

[2022-09-24 05:52] griotdonation opened #323 "Repository for sunny place ?"
Hi there,

Is there a GitHub repository for sunny place?

[2022-09-24 16:36] #323 closed

[2022-09-24 17:24] RafaelBarbosatec commented on #323
Hi @griotdonation !
I'm sorry, Sunny Place is my personal project. I'm building it little a little. 😊

[2022-09-25 00:13] griotdonation commented on #323
Ah I see! No worries at all 😄 thanks for the reply!

[2022-09-25 02:19] beanhead217 opened #324 "Turn based Enemy and player movement"
Hi Rafael,

I'm looking to build a turn-based RPG using bonfire, I see the tap screen to move feature has been added. is there anything that exists to add the same AI movement to enemies and limit the tile spaces that can be moved (similar to chest)? I've attached a photo for reference. Thanks is advance brother!
![image](https://user-images.githubusercontent.com/112144591/192125390-03309da9-f7f5-

[2022-09-25 03:30] RafaelBarbosatec commented on #324
Hi @beanhead217 !
The Bonfire have no AI implementation. But you can search for some algorithm to this and use the movements methods available in Bonfire.

[2022-09-25 03:48] griotdonation commented on #324
Thank you so much!! I'll look into it!

[2022-09-26 07:19] GyHUN95 opened #325 "Mnimap zoom"
Dear Rafael, sorry for botherng you with these little questions, but I recently noticed, that MiniMap use the default game zoom and sometimes it's miss some edge of the map:
![image](https://user-images.githubusercontent.com/44195762/192215703-23958606-7eea-4666-ab9b-c10e29270706.png)

In my case, nowadays testing some 16x16 spritesheets and I need a bigger zoom (3-5).
Suggestion: Minimap always c

[2022-09-26 07:22] GyHUN95 opened #326 "Using multiple/layered spritesheets"
Dear Rafael, I know it's a really noob question, but has Bonfire any layered SpriteSheet support? I'm testing spritesheets, like this: image 1: body, image2: hair, image3: cloth. I found this section, but unfortunately didn't work in the newest version:
https://bonfire-engine.github.io/#/loading_assets?id=mergin-images
I can provide the original spritesheets if it's help.

Thank you for your time!

[2022-09-26 13:29] rafaelbarbosadrip commented on #326
You can get some spritesheets to do it here: https://github.com/RafaelBarbosatec/bonfire/tree/master/example/assets/images/lpc

[2022-09-26 13:36] #324 closed

[2022-09-26 13:36] beanhead217 commented on #324
Thanks so much!

[2022-09-27 02:56] Fixid-Fuzz opened #327 "directionThePlayerIsIn() seems a bit odd."
directionThePlayerIsIn() seems a bit odd.

In the directionThePlayerIsIn() function you made to find the direction the player is in, the conditional statement is x, and it compares it with y.

the code below

      if (diffPositiveX > diffPositiveY) {
        if (player.center.x > center.y) {
          return Direction.right;
        } else if (player.center.x < center.y) {
          return Direct

[2022-09-27 17:09] RafaelBarbosatec commented on #327
Hi @Fixid-Fuzz !
Thanks so much for open this issue. Make sense that you said. I will do this correction.

[2022-09-27 17:45] fairmount88217 opened #328 "Turn based strategy"
Hi there Rafael,

Sorry to bother and thank you for this repository its amazing! i was going through your issues and the below style game but in examples. I would like to create turn based strategy game but not sure how to implement the tile coloring based on distance allowed for each player and switch turn. would you be able to help with his request? definitely will show gratitude via "Buy me a c

[2022-09-27 18:34] RafaelBarbosatec commented on #325
I didn't can configure the MiniMap zoom yet. I will try find out some solution for this. if could might help me with this i'll stay super glade. ☺️
This is the file: bonfire/lib/widgets/mini_map/mini_map_canvas.dart

[2022-09-27 18:43] RafaelBarbosatec commented on #328
Hi @fairmount88217 !
Interesting  game case. I'll separate a time to try create an example that how create a type of the game.
If i find things that seems be good and util to this game type, I'll adds to the Bonfire.

[2022-09-27 18:47] griotdonation commented on #328
Omg, thanks so much @RafaelBarbosatec !! Can't wait to see the implementation

[2022-09-30 11:21] #326 closed

[2022-09-30 15:53] RafaelBarbosatec commented on #328
Hi @fairmount88217 !
I don’t paid attention in all of details but i hope this can help you!

https://user-images.githubusercontent.com/10039275/193309222-38fbad11-3b7f-4974-981e-1a666754702e.mp4

[Example](https://github.com/RafaelBarbosatec/turn_game)

[2022-09-30 16:23] fairmount88217 commented on #328
forget the details, this is awesome!! Thank you @RafaelBarbosatec buying you a coffee right now! really appreciate your help.

[2022-09-30 16:33] fairmount88217 commented on #328
Enjoy the well deserved coffee!

[2022-09-30 20:17] fairmount88217 commented on #328
hey Rafael,

Sorry to bother again, I'm playing around with the code and just spent the past few hours trying to figure how to make this small change. I figured I'd ask since the code may still be fresh in your mind, hoping you can help. but I see that the player can either move or attack. I was looking both, basically the player moves and then they can attack or see attack range of after having m

[2022-09-30 20:19] #327 closed

[2022-09-30 21:02] RafaelBarbosatec commented on #328
Hi @fairmount88217 !
So, in this example the players can move or attack. This you already got it.
There's two areas, the white squares (this is a grid that control to where the player can move) and the red circles (this is the grid that indicate the area what can do attack, if the opponent stay in this area can receive attack when clicked.

[2022-09-30 21:05] fairmount88217 commented on #328
Correct, but i see the turn switches when a move or an attack happens. Is it possible to have the player do both before turn is over. So they will move (show white squares first) and then attack (show red dots only), as this will give them more ground to cover from their initial position. let me know if this make sense, sorry.

[2022-09-30 21:10] RafaelBarbosatec commented on #328
Yes, it's possible. You'll need control this of some way in the PlayerTurn.
In this class when is finished the moviment (along the path) I called the method in the turnManager to change the turn. You only need change this moment that call changeTurn.

[2022-09-30 21:15] fairmount88217 commented on #328
Awesome! I'll continue to study the code. thanks for giving me a point of reference.

[2022-10-01 23:20] fairmount88217 commented on #328
Hi raphael,

one quick question. Im trying to use the followWidget component for the players it the game, I see plater_turn extends a class of NPC. Would you happen to know how can i find the NPC or active player GameComponent?

   FollowerWidget.show(
      identify: 'PLAYER_INVENTORY', // identify used to remove
      context: context,
      target: player, // You can add here any GameComponent

[2022-10-02 01:20] fairmount88217 commented on #328
Actually found the answer. I users gameRef.camera.target! thanks!

[2022-10-02 01:20] #328 closed

[2022-10-02 02:07] RafaelBarbosatec commented on #328
Hi @fairmount88217 !
In the turnManager you can find the player active too

[2022-10-02 13:28] fairmount88217 commented on #328
did you mean like this, but still not getting follower widget. the gameRef.camera.target stopped working if the camera was scrolled.
![image](https://user-images.githubusercontent.com/114515922/193456580-80ab5d3c-39e0-410a-b0c9-a1975d8c0b5c.png)

[2022-10-02 14:11] fairmount88217 commented on #328
think i have it here
![image](https://user-images.githubusercontent.com/114515922/193458478-9efb5b60-a370-48fc-9630-6492a780ea8c.png)

[2022-10-03 00:43] Fixid-Fuzz opened #330 "Inquire about adding the showDamage function"
In bonfire I can style the text with config in show Damage.
However, it would be nice to be able to set outline and gradient in order to express damage dynamically.

Could you please add outline and gradient settings to showDamage?

[2022-10-03 02:53] RafaelBarbosatec commented on #330
Hi @Fixid-Fuzz !
This would be awesome !
But Bonfire use the Flame API for this. We need wait this implementation of they!
You could open this issue in the Flame repository.
[Flame Doc](https://docs.flame-engine.org/1.4.0/flame/rendering/text.html)
[Flame Examples](https://examples.flame-engine.org/#/)

[2022-10-03 17:37] fairmount88217 opened #331 "Simulate screen tap or Move NPC along path programmaticaly"
Hi Rafael,

Hope you're well. Im working on the AI to programmatically move the enemies in the turn-based game. I was able to derive which Vector2 tile i need to move the enemy to by calculating the moveable positions distance from the player. I then i get the Vector with the shortest distances. So I was able to get that far, but How can i simulate a PointerDownEvent or have the enemy programmatic

[2022-10-03 20:17] fairmount88217 commented on #331
Actually, I think my algorithm needs more work. Im testing it with the PointerDownEvent but my enemy are not moving closer to allies lol. I'll keep trying here

[2022-10-03 20:26] fairmount88217 commented on #331
Ok fixed it, it worked as expected, just need to figure how to programmatically move the player.

[2022-10-04 22:41] #331 closed

[2022-10-04 22:41] fairmount88217 commented on #331
think i got it!

[2022-10-06 00:12] #330 closed

[2022-10-07 11:06] GyHUN95 commented on #86
It's arrived in flame 1.4.0, https://docs.flame-engine.org/1.4.0/flame/components.html?highlight=isometric#isometrictilemapcomponent

[2022-10-07 12:33] RafaelBarbosatec commented on #86
Yes, it's already possible render isometric maps. But to give you a good experience with this kind of game. I will need adds the third dimension: x,y,z. And for this I have to create many modifications to give support for all behaviors and components offered by Bonfire.

[2022-10-07 19:23] RafaelBarbosatec commented on #325
Available in Version 2.10.10.

[2022-10-10 19:50] #325 closed

[2022-10-27 01:59] ahndwon opened #334 "Set transparent background color?"
Hello, I want to overlay bonfire over my Flutter app.
But it seems I can only set background by `GameBackground` class.
When I set transparent color to GameBackground class, the background is black.

Can you make a `backgroundColor` property to BonfireWidget
which sets color to `GameWidget` by overriding `backgroundColor` method?

Or is there a way to set transparent background?

[2022-10-27 11:22] Fixid-Fuzz opened #335 "runRandomMovement() issue"
runRandomMovement issue

runRandomMovement works fine, but the collision range doesn't seem to work if there are no monsters on the screen that are moving with this function.

A monster that is not on the screen is passing through the collision location.

        void randomMove() {
          if (isDead == false) {
            runRandomMovement(
              mdt,
              speed: speed,

[2022-11-01 23:40] RafaelBarbosatec commented on #334
Hi @ahndwon !
Thanks for contacting !
This param will be available in next release `backgroundColor`.

[2022-11-02 01:54] ahndwon commented on #334
Wow thanks!
I really appreciate it.
I'll check it out right now.

[2022-11-02 01:54] #334 closed

[2022-11-08 00:04] 4mitabh commented on #86
I dont think, we'll need to change any of the data structures, or need a Z dimension.

The common way to implement isometric maps in games uses only x,y coordinates, and most of the game engine remains exactly the same. The cartesian to isometric transformation are required only at two places:
1. When rending tiles on the screen.
2. When reading user input. The up/down/left/right need to be interp

[2022-11-10 19:44] RafaelBarbosatec commented on #86
Hi @4mitabh !

To render it's OK. But to component’s movements if there are height of different tiles. How a can handle with this without z dimension? Thinking better, i guess it’s possible. I don’t know. I'll study and search more about this.
Thanks so much for share this videos!
I think that I'll start the support of this without thinking in z dimension.

[2022-11-11 01:03] 4mitabh commented on #86
I see what you meant.

Yeah, we'll have to take care of z-order of all the rendered objects. In case of isometric objects, the trick is to simply adjust the z-order of the rendered objects according to the y coordinates.

We already do this correctly in the current maps. The knight can go around the barrel, both behind and in front of it.
So, it should just work in the isometric maps too.

[2022-11-12 16:28] sonhoai27 opened #339 "Can not use keyboard after touching overlayBuilderMap"
Thanks for the great work.
I have an issue when I touched into overlayBuilderMap. I create an item of overlayBuilderMap with StatefulWidget and I can not use the keyboard to direct a Player after touching or clicking this item.

`bonfire: ^2.11.2`

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.3.6, on macOS 13.0.1 22A400 darwin-arm, locale en-VN)
[✓] An

[2022-11-13 01:19] RafaelBarbosatec commented on #339
Hi @sonhoai27 !
Could you give more detail about your overlay? Probably your overlay get the focus. I guess that it's the problem.

[2022-11-13 01:22] RafaelBarbosatec commented on #339
Hi @sonhoai27 !
Thanks so much! 😊😉
I will analise how we can do this and share here as possible.

[2022-11-13 10:19] sonhoai27 commented on #339
Hi @RafaelBarbosatec
Thank you too.
I have created a test overlayBuilderMap like this
![image](https://user-images.githubusercontent.com/19631102/201516714-a2f37c05-25f4-4b8c-ad5d-36a14aecf122.png)

and when I clicked or touched this container, The Game lost focus.

I have cloned this repo [https://github.com/RafaelBarbosatec/mountain_fight](url) and test and  it also like me - lost focus

[2022-11-13 14:21] vinidiktov opened #340 "Is Bonfire suitable for a game like Queen's Wish?"
Hi, I was wondering if Bonfire is well-suited for creating  turn-based RPGs in the style of Queen's Wish: The Conqueror?

http://www.spiderwebsoftware.com/queenswish/

![Outdoors1920x1080](https://user-images.githubusercontent.com/75051/201526531-a315c678-d649-4e28-be7d-72dcb8d45848.jpg)
![Council1920x1080](https://user-images.githubusercontent.com/75051/201526538-fc893166-69e5-4da1-a7c0-a483a89ff

[2022-11-13 15:42] RafaelBarbosatec commented on #340
Hi @vinidiktov !
I created a example that how you can create a game like this.
Take a look! I hope that it's could be helpful.

 https://rafaelbarbosatec.itch.io/turn-game

[2022-11-13 15:55] vinidiktov commented on #340
So, the answer is yes.

Thanks, Rafael.

[2022-11-13 15:55] #340 closed

[2022-11-14 01:25] RafaelBarbosatec commented on #339
Hi @sonhoai27 !
It’s Strange, I didn’t  can reproduce this. I just reproduce this behavior when I use a TextField in the overlay. And in this case is correct lost focus.
You can pass a `Focus` in `BonfireWidget` case it’s necessary to request focus.
If you can share anything else that help reproduce this problem. It would be good.

[2022-11-14 19:30] sonhoai27 commented on #339
Hi @RafaelBarbosatec
Thank you, I have resolved this issue by using the focus node.

[2022-11-14 19:31] #339 closed